.dropDownContainer {
  position: relative;
  background-color: var(--black-600);
  color: var(--grey-500);
  border-radius: 5px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  .dropDownHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 5px;

    &:hover {
      color: var(--grey-800);
      background-color: var(--black-900);
    }

    &.active {
      background-color: var(--black-700);
    }

    .itemTitle {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .arrowIcon {
      margin-left: 4px;
      width: 12px;
      height: 8px;
    }
  }

  .dropDownList {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    color: var(--grey-500);
  }

  .listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 12px;
    background: var(--black-700);
    padding: 0 12px;

    .itemTitle {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 12px 0;
      width: 100%;
    }

    &:not(:last-of-type) {
      .itemTitle {
        border-bottom: 1px solid var(--black-900);
      }
    }

    .tickIcon {
      display: none;
      margin-left: 4px;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &:hover {
      background-color: var(--black-700);
      color: var(--grey-800);
    }

    &.active {
      background-color: var(--black-900);

      .tickIcon {
        display: block;
      }
    }
  }
}
