.dropDownContainer {
  background-color: var(--black-600);
  border-radius: 5px;
  color: var(--grey-500);
  cursor: pointer;
  font-size: 15px;
  line-height: 19px;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */

  .dropDownHeader {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 5px;

    &:hover {
      background-color: var(--black-900);
      color: var(--grey-800);
    }

    &.active {
      background-color: var(--black-700);
      color: var(--grey-800);
    }

    .itemTitle {
      width: 100%;
    }

    .arrowIcon {
      height: 8px;
      margin-left: 4px;
      width: 12px;
    }
  }

  .dropDownList {
    border-radius: 5px;
    color: var(--grey-500);
    margin: 0;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1000;

    .listItem {
      align-items: center;
      background: var(--black-700);
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 12px;
      padding: 0 12px;

      .tickIcon {
        display: none;
        margin-left: 4px;
        stroke: var(--grey-500);
      }

      .itemTitle {
        overflow: hidden;
        padding: 12px 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      &:not(:last-of-type) {
        .itemTitle {
          border-bottom: 1px solid var(--black-900);
        }
      }

      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      &:last-child {
        border-radius: 0 0 5px 5px;
      }

      &:hover {
        background-color: var(--black-900);
        color: var(--grey-800);
      }

      &.active {
        .tickIcon {
          display: block;
        }

        &:hover {
          .tickIcon {
            stroke: var(--grey-800);
          }
        }
      }
    }
  }
}
