.container {
  th {
    &:nth-child(1) {
      padding-left: 24px;
      padding-right: 0;
      text-align: center;

      // TODO: find another solution
      &::before {
        content: '';
        background-color: var(--black-100);
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 24px;
        height: 1px;
      }
    }

    &:nth-child(2) {
      padding-left: 16px;
      text-align: left;
      width: 100%;
    }

    &:last-child {
      padding-right: 24px;
      border-left: 1px solid transparent;

      // TODO: find another solution
      &::after {
        content: '';
        background-color: var(--black-100);
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 24px;
        height: 1px;
      }
    }
  }
}
