.container {
  position: sticky;
  top: 0;
  z-index: 200;

  background-color: var(--black-100);

  th {
    &:first-child {
      position: sticky;
      left: 0;
      z-index: 100;

      padding-right: 0;

      text-align: center;

      background-color: var(--black-100);
    }

    &:nth-child(2) {
      position: sticky;
      left: 42px; // TODO: calculate dynamically
      z-index: 100;

      width: 100%;
      padding-left: 16px;

      text-align: left;

      background-color: var(--black-100);
    }

    &:last-child {
      padding-right: 24px;
    }
  }
}
