.container {
  th {
    &:first-child {
      padding-right: 0;

      text-align: center;
    }

    &:nth-child(2) {
      width: 100%;
      padding-left: 16px;

      text-align: left;
    }

    &:last-child {
      padding-right: 24px;
    }
  }
}
