.zoneLogo {
  margin-right: 12px;
}

.button {
  background-color: transparent;
  color: var(--white);

  &:hover {
    background-color: transparent;
  }
}

.zoneName {
  font-size: var(--font-heading-size-lg);
  font-weight: 600;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.arrowContainer {
  position: relative;
  top: 3px;

  margin-left: 12px;

  svg {
    stroke: var(--white);
  }
}

@media (max-width: 880px) {
  .zoneName {
    font-size: 20px;
    line-height: 25px;
  }

  .arrowContainer {
    top: 0;
  }
}
