.container {
  --bgColor: var(--black-500);

  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  background-color: var(--bgColor);
  cursor: pointer;

  &:hover {
    --bgColor: var(--black-700);
  }

  .search {
    flex: 1;

    input {
      height: 40px;
      background-color: var(--bgColor);
      cursor: pointer;

      /* Chrome, Firefox, Opera, Safari 10.1+ */
      &::placeholder {
        color: var(--grey-500);

        opacity: 1; /* Firefox */
      }

      /* Microsoft Edge */
      &::input-placeholder {
        color: var(--grey-500);
      }

      &:hover {
        background-color: var(--black-700);
      }
    }
  }

  .loopIcon {
    stroke: var(--grey-500);
  }
}
