.container {
  .columnContainer {
    padding: 12px 12px 31px 28px;
    white-space: nowrap;
    vertical-align: top;

    &.withBorder {
      border-left: 1px solid var(--black-700);
    }

    &:first-child {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 460px;
      padding-left: 0;
      vertical-align: middle;
    }

    &:last-child {
      padding-right: 24px;
    }

    .arrowContainer {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .position {
      font-size: 10px;
      line-height: 13px;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: var(--grey-500);
      position: relative;
      top: -2px;
    }

    .title {
      cursor: pointer;
      font-size: 13px;
      line-height: 16px;
      color: var(--grey-500);

      &:hover {
        color: var(--white);
      }

      .arrowIcon {
        height: 6px;
        width: 10px;
        margin-left: 7px;
      }
    }
  }

  &.emptyContainer {
    .columnContainer {
      padding: 0 0 19px;
    }
  }
}
