.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 32px 24px 40px;

  .detailsTitle {
    display: flex;
    align-items: center;

    .zoneLogo {
      margin-right: 12px;
    }

    .zoneName {
      color: var(--white);
      font-weight: 400;
      font-size: var(--font-heading-size-lg);
      font-style: normal;
    }
  }

  .arrowContainer {
    position: relative;
    top: 3px;

    margin-left: 12px;

    cursor: pointer;

    svg {
      stroke: var(--white);
    }
  }

  .zoneWebsite {
    display: flex;
    margin-top: 9px;

    color: var(--grey-500);
    font-weight: 400;
    font-size: var(--font-base-size-md);
    font-style: normal;
    font-feature-settings: 'tnum' on, 'lnum' on;
  }

  .navigationButtonsContainer {
    display: flex;
    grid-gap: 21px;

    border-bottom: 1px solid var(--black-900);
  }
}
