.container {
  position: relative;

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 32px 0 40px;
    padding: 4px 24px;
    position: sticky;
    top: 0;
    z-index: 999;
    background: var(--black-100);

    .zoneContainer {
      position: relative;

      grid-area: zoneContainer;

      .zoneLinks {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 8px;
        align-items: center;
        margin-top: 9px;

        color: var(--grey-500);
        font-size: var(--font-base-size-md);
        font-feature-settings: 'tnum' on, 'lnum' on;
      }
    }

    .tabsContainer {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .periodContainer {
      grid-area: periodContainer;
    }

    .compareBtn {
      width: 100%;
      height: 40px;
      font-size: var(--font-navigation-size);
      font-weight: 600;
    }
  }
}

@media (max-width: 880px) {
  .container {
    .header {
      align-items: stretch;
      display: flex;
      flex-direction: column;

      margin: 24px 0 28px;
      padding: 4px 12px;
      gap: 28px;

      top: 63px;

      .tabsContainer {
        position: initial;
        left: 0;
        transform: none;
      }
    }
  }
}
