.container {
  // display: flex;
  // width: 100%;
  border-bottom: 1px solid #2F2C39;
  // padding: 0 24px;

  th {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey-500);
    padding: 0px 12px 6px 28px;
    text-align: right;
    white-space: nowrap;

    &:not(:nth-child(1)):not(:nth-child(2)) {
      cursor: pointer;

      &:hover {
        color: var(--grey-800);
      }
    }

    &:nth-child(1) {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }

    &:nth-child(2) {
      padding-left: 16px;
      text-align: left;
      width: 99%;
    }

    &:nth-child(6) {
      border-left: 1px solid transparent;
    }

    &:nth-child(8) {
      border-left: 1px solid transparent;
    }

    &:nth-child(10) {
      border-left: 1px solid transparent;
    }

    &:nth-child(11) {
      border-left: 1px solid transparent;
    }
  }

  .sourceCircle {
    background-color: var(--pink);
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    width: 7px;
  }

  .targetCircle {
    background-color: var(--blue);
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    width: 7px;
  }

  .questionMark {
    margin-left: 4px;
    top: 1px;
    position: relative;
  }
}
