.container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #2F2C39;
  margin-bottom: 8px;
  padding: 0 24px;

  .title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: var(--grey-500);
    padding-bottom: 6px;
    text-align: right;

    &:nth-child(1) {
      width: 25px;
      text-align: left;
    }

    &:nth-child(2) {
      width: 250px;
      text-align: left;
    }

    &:nth-child(3) {
      width: 120px;
    }

    &:nth-child(4) {
      width: 120px;
    }

    &:nth-child(5) {
      width: 120px;
    }

    &:nth-child(6) {
      width: 120px;
    }

    &:nth-child(7) {
      width: 120px;
    }

    &:nth-child(8) {
      width: 120px;
    }

    &:nth-child(9) {
      width: 120px;
    }

    &:nth-child(10) {
      width: 120px;
    }

    &:nth-child(11) {
      width: 200px;
      text-align: right;
    }
  }
}
