.ratingDiff {
  display: flex;
  color: var(--green);
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  &.negative {
    color: var(--red);
  }

  .triangle {
    margin-right: 2px;
  }

  .triangleUp {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid var(--green);
  }

  .triangleDown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid var(--red);
  }
}