.ratingDiff {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  &.negative {
    color: var(--red);
  }

  &.positive {
    color: var(--green);
  }

  .triangle {
    margin-right: 2px;
    width: 0;
    height: 0;

    &.up {
      border-right: 5px solid transparent;
      border-bottom: 8px solid var(--green);
      border-left: 5px solid transparent;
    }

    &.down {
      border-top: 8px solid var(--red);
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
    }
  }
}
