.container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10.5px;
  border: 1px dashed var(--grey-100);
  border-radius: 50px;
  padding: 14px;
  margin: 1px;

  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;

  color: var(--grey-100);
  background: transparent;

  .icon {
    stroke: currentColor;
  }

  &:hover {
    border: 2px solid var(--grey-300);
    color: var(--white);
    background: transparent;
    margin: 0;
  }
}
