.container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10.5px;
  border: 1px dashed var(--grey-100);
  border-radius: 50px;
  padding: 8px 12px;
  margin: 1px;

  font-weight: 600;
  font-size: var(--font-heading-size-sm);
  letter-spacing: -0.4px;
  font-feature-settings: 'tnum' on, 'lnum' on;

  color: var(--grey-300);
  background: transparent;
  cursor: pointer;

  .icon {
    stroke: currentColor;
  }

  &:hover {
    border: 2px solid var(--grey-300);
    color: var(--white);
    background: transparent;
    margin: 0;
  }
}
