:root {
  --spinkit-size: 150px;
  --first-spinner-color: #d76969;
  --second-spinner-color: #e7bb87;
  --animationDuration: 2s;
}

.circle-wrapper {
  display: none;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(8px);
}

.show {
  display: flex;
}

.circle-border {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  border: 15px solid #27ae60;
  box-sizing: border-box;
  box-shadow: 0 0 24px 10px rgba(39, 174, 96, 0.55);
}

.circle {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #fff;
}

.circle img {
  position: absolute;
  top: -35px;
  left: 28px;
}

.circle h1 {
  margin-top: 120px;
  color: #219653;
  font-size: 20px;
}

.circle p {
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
  color: #333333;
  opacity: 0.6;
}
