.container {
  display: grid;
  gap: 8px;
  align-items: center;
  padding-right: 20px;

  &.horizontal {
    grid-auto-flow: column;
    gap: 4px;
  }

  &.withDivider {
    border-left: 1px solid var(--black-900);
    padding-left: 20px;
  }

  &:first-child {
    border: none;
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}
