.cell {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--color-regular);

  height: 33px;
  padding: 0 8px 0 7px;
  min-width: 30px;
  text-align: right;
  background: #ffffff;
}

.cell .cell-container {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.cell-image-container {
  margin-right: -7px;
  justify-content: center;
}

.cell .image-container {
  width: 20px;
  height: 20px;
}

.cell .image-empty {
  background-color: #e9e9e9;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.cell .text-container {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  position: relative;
  line-height: 25px;
}

.cell .text-container .shift-tooltip {
  position: absolute;
  left: 70%;
  top: -8px;
  background: var(--color-green);
  border-radius: 2px;
  padding: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  display: none;
  opacity: 0;
  transition: 0.2s;
  z-index: 5;
}

.cell .text-container .shift-tooltip.negative {
  background: var(--color-red);
}

.cell:hover .text-container .shift-tooltip {
  opacity: 1;
  display: block;
}

.cell-value {
  position: relative;
  float: right;
}

.cell:last-of-type .text-container .cell-value .shift-tooltip {
  left: -50%;
}

.clear {
  clear: both;
}

.text-container.numeric {
  font-family: var(--font-monospace), sans-serif;
}

.cell.zoneLabelUrl {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
}

.cell.position {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.cell.position .text-container {
  color: rgba(114, 114, 114, 0.5);
  padding: 0;
}

.cell.position {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  padding: 0;
}

.cell.name {
  width: 100%;
  min-width: 180px;
  max-width: 180px;
}

.cell.name .text-container {
  padding: 0;
  max-width: calc(380px - 35px);
  text-overflow: ellipsis;
  overflow: hidden;
  width: unset;
}

.cell.ibcTransfers {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}

.cell.ibcVolume {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.cell.activeAddresses {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.cell.ibcActiveAddresses {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.cell.ibcVolumeSent {
  width: 165px;
  min-width: 165px;
  max-width: 165px;
}

.cell.ibcVolumeReceived {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.cell.hasBorderRight {
  border-right: 1px solid var(--table-borders-color);
}

.cell.txsActivity {
  width: 146px;
  min-width: 146px;
}

.cell.sortedColumn {
  color: var(--color-regular);
  font-weight: bold;
}

.cell.ibcActiveAddresses .text-container {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  height: 100%;
  flex-direction: column;
}

/*cell-icons*/
.position-shift {
  font-size: 11px;
  line-height: 100%;
  font-weight: 500;
  color: var(--color-green);
  padding-left: 15px;
  position: relative;
}

.position-shift:after {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 1px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--color-green);
}

.position-shift.negative {
  color: var(--color-red);
}

.position-shift.negative:after {
  border-bottom: 8px solid var(--color-red);
  transform: rotate(180deg);
}

.position-shift.new {
  display: inline-block;
  width: 31px;
  height: 17px;
  background: #6785ef;
  transform: rotate(-13.3deg);
  padding: 0;
  font-weight: bold;
  font-size: 8.6px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  border-radius: 15px / 8px;
  top: -4px;
  margin-left: 7px;
}

.position-shift.new > div {
  transform: rotate(13.3deg);
}

.position-shift.new:after {
  content: none;
}

.pendingContainer {
  line-height: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  color: #b8b8b8;
  float: right;
}

.pendingIcon {
  margin-right: 3px;
  width: 11px;
  height: 9px;
}
