@import '../../../../assets/styles/constants.css';

:root {
  --footer-gray: #939393;
}

.container {
  height: 33px;
  width: 100%;
  padding: 0 14px 0 13px;
  background: var(--color-regular);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 220%;
  color: #ffffff;
  position: sticky;
  bottom: 0;
  z-index: 9;
}

.link {
  color: var(--footer-gray);
  text-decoration: none;
}

.socialContainer {
  display: flex;
  align-items: center;
  color: var(--footer-gray);
  margin: 0 -8px;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  transition: 0.2s;
}

.socialName {
  line-height: 12px;
  padding: 1px 0;
}

.socialIcon {
  width: 17px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 6px;
  border-radius: 20%;
}

.contactUsTitle {
  display: none;
  white-space: pre;
  color: #ffffff;
}

.socialMediaTitle {
  display: none;
  color: var(--footer-gray);
  line-height: 12px;
  margin-bottom: 13px;
}

.socialLink:hover {
  color: #ffffff;
}

.socialLink:hover .socialName {
  border-bottom: 1px solid var(--footer-gray);
}

@media (max-width: 800px) {
  .socialName {
    display: none;
  }

  .socialIcon {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .container {
    height: auto;
    padding: 40px 10px 15px 10px;
    text-align: center;
    flex-direction: column-reverse;
    position: static;
  }

  .socialContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .socialLink {
    margin: 0 6px;
  }

  .contactUsLink {
    width: 100%;
    line-height: 12px;
    margin-top: 28px;
    margin-bottom: 6px;
  }

  .contactUsTitle {
    display: inline;
  }

  .socialIcon {
    width: 40px;
    height: 40px;
  }

  .socialMediaTitle {
    display: block;
  }
}
