.chartContainer {
  display: flex;
  flex-direction: column;
  flex: 1;

  .chartControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;

    .priceSwitcher {
      min-width: 230px;
    }
  }
}
