.chartContainer {
  position: relative;

  min-height: 200px;
  max-height: 260px;

  margin-top: 24px;

  .priceSwitcher {
    max-width: 230px;
  }

  .priceVolumeChart {
    max-height: 200px !important;
  }
}
