.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  .widgetContainer {
    width: 420px;

    .linkContainer {
      z-index: 100;
      width: 100%;
      text-align: center;
      font-size: var(--font-secondary-size-md);
      text-decoration-line: underline;
      cursor: pointer;
    }
  }
}
