.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .assistanceText {
    font-size: var(--font-base-size-md);
    margin: 0 24px;
  }

  .link {
    text-decoration-line: underline;
    cursor: pointer;
  }

  .widgetContainer {
    position: relative;
    max-width: var(--widget-width);
    width: 100%;
    height: calc(var(--widget-height) + 20px);
    background-color: #2a2a33;
    border-radius: 5px;
    margin-top: 12px;

    .linkContainer {
      z-index: 100;
      width: 100%;
      text-align: center;
      margin: 2px;
      font-size: var(--font-secondary-size-md);

      position: absolute;
      bottom: 0;
    }
  }
}
