.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  .widgetContainer {
    position: relative;
    width: var(--widget-width);
    height: calc(var(--widget-height) + 20px);
    background-color: #2a2a33;
    border-radius: 5px;

    .linkContainer {
      z-index: 100;
      width: 100%;
      text-align: center;
      margin: 2px;
      font-size: var(--font-secondary-size-md);
      text-decoration-line: underline;
      cursor: pointer;
      position: absolute;
      bottom: 0;
    }
  }
}
