.container {
  th {
    &:first-child {
      width: 100%;
      min-width: 460px;
      padding-left: 24px;

      text-align: left;

      // TODO: find another solution
      &::before {
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 24px;
        height: 1px;

        background-color: #0e0e16;

        content: '';
      }
    }

    &:last-child {
      padding-right: 24px;

      // TODO: find another solution
      &::after {
        position: absolute;
        right: 0;
        bottom: -1px;

        width: 24px;
        height: 1px;

        background-color: #0e0e16;

        content: '';
      }
    }
  }
}
