.container {
  th {
    &:first-child {
      padding-left: 24px;
      text-align: left;
      width: 100%;
      min-width: 450px;

      // TODO: find another solution
      &::before {
        content: '';
        background-color: #0e0e16;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 24px;
        height: 1px;
      }
    }

    &:last-child {
      padding-right: 24px;

      // TODO: find another solution
      &::after {
        content: '';
        background-color: #0e0e16;
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 24px;
        height: 1px;
      }
    }
  }
}
