.itemContainer {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 4px;

    color: var(--grey-500);
    font-size: 13px;
    line-height: 16.3px;

    .questionMark {
      margin-left: 4px;
    }
  }

  .value {
    color: var(--white);
    font-size: 15px;
    line-height: 18.81px;
  }
}
