.itemContainer {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 16px;

  .title {
    margin-bottom: 4px;

    color: var(--grey-500);

    .questionMark {
      margin-left: 4px;
    }
  }

  .value {
    color: var(--white);
  }

  &.rowDirection {
    flex-direction: row;
    justify-content: space-between;

    .title {
      margin-bottom: 0;
    }
  }
}
