.button {
  display: flex;
  padding: 5px 8px 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  background-color: var(--black-300);
  color: var(--white);
  cursor: pointer;

  .icon {
    display: flex;
    line-height: 15px;
    fill: var(--grey-100);
    margin-right: 6px;
  }

  &:hover {
    background-color: var(--black-100);

    .icon {
      fill: var(--white);
    }
  }
}
