.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 8px 4px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  background-color: #25252E;
  color: #FFFFFF;
  cursor: pointer;
}

.button:hover {

}