.row {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    'logo name value'
    'logo name pending';
  row-gap: 2px;
  padding: 7px 16px;
  margin: 0 -16px;
  align-items: center;
  font-size: 15px;
  line-height: 18.81px;
  height: 50px;
  cursor: pointer;

  &:hover {
    background-color: var(--black-600);
  }

  .logoContainer {
    grid-area: logo;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--grey-500);

    .logo {
      width: 32px;
      height: 32px;
    }
  }

  .zoneInfo {
    grid-area: name;
    display: flex;
    margin-left: 12px;
  }

  .ratingDiff {
    display: flex;
    color: var(--green);
    align-items: center;
    margin-left: 4px;

    &.negative {
      color: var(--red);
    }

    .triangle {
      margin-right: 2px;
    }

    .triangleUp {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 8px solid var(--green);
    }

    .triangleDown {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid var(--red);
    }
  }

  .value {
    grid-area: value;
    text-align: right;
  }

  .pendingValueContainer {
    grid-area: pending;
    font-size: 12px;
    line-height: 15.05px;
    color: var(--grey-500);
    text-align: right;

    .pendingValue {
      margin-left: 3px;
    }
  }
}
