.row {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 7px 0px 7px 16px;

  font-size: var(--font-base-size-lg);

  cursor: pointer;
  row-gap: 2px;

  .zoneContainer {
    flex-grow: 1;
  }

  &:hover {
    background-color: var(--black-600);
  }
}
