.container {
  height: 100%;
  margin: 0 -16px;
  padding: 0 16px;
}

.detailedBtn {
  height: 40px;
  font-size: 15px;
  line-height: 19px;
  color: var(--grey-500);

  &:not(:hover) {
    background-color: var(--black-700);
  }

  .btnText {
    margin-right: 8px;
  }
}
