.container {
  position: relative;
  cursor: pointer;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    position: absolute;
    top: -30px;
    left: -25px;
    width: max-content;
    max-width: 260px;
    background-color: var(--white);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 4px 6px;

    font-size: 12px;
    line-height: 115%;
    font-style: normal;
    font-weight: normal;
    color: var(--black-100);
    white-space: normal;
    text-align: left;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 999;
  }

  .status {
    margin-left: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    display: flex;
    cursor: pointer;

    .icon {
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }

    .iconBackground {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
    }
  }
}
