.container {
  position: relative;
  cursor: pointer;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    top: -50px;
    left: -25px;
  }

  .status {
    margin-left: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    display: flex;
    cursor: pointer;

    .icon {
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }

    .iconBackground {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
    }
  }
}
