.container {
  position: relative;
  cursor: pointer;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    position: absolute;
    top: -50px;
    left: -25px;
    width: max-content;
    max-width: 260px;
    background-color: var(--black-400);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.7);
    border: 1px solid var(--black-600);
    border-radius: 4px;
    padding: 12px;

    color: var(--grey-800);
    font-feature-settings: 'tnum' on, 'lnum' on;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: normal;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 999;
  }

  .status {
    margin-left: 4px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    display: flex;
    cursor: pointer;

    .icon {
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }

    .iconBackground {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
    }
  }
}
