.container {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1.8fr 1.8fr;
  margin: 12px 16px;
}

@media (max-width: 1280px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 980px) {
  .container {
    grid-template-columns: 1fr 1fr 1.6fr 1.6fr;
  }
}
