.container {
  position: relative;

  .button {
    display: flex;
    align-items: center;

    color: var(--white);
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }
}
