.chartContainer {
  grid-area: lineChart;
  display: flex;
  align-items: center;

  .volumeIn {
    &Title {
      color: var(--blue);
      margin-right: 2px;
    }
  }

  .volumeOut {
    &Title {
      color: var(--pink);
      margin-left: 2px;
    }
  }
}
