.container {
  width: 100%;

  .table {
    th {
      &:first-child {
        width: 100%;
        min-width: 460px;

        text-align: left;
      }
    }

    tr td {
      &:first-child {
        display: flex;
        align-items: center;
        width: 100%;
        min-width: 460px;
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    .table {
      th,
      tr td {
        &:first-child {
          min-width: 188px;
          overflow: hidden;
          max-width: 188px;
        }
      }
    }
  }
}
