.container {
  width: 100%;

  .table {
    th {
      &:first-child {
        width: 100%;
        min-width: 460px;

        text-align: left;
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    .table {
      th {
        &:first-child {
          min-width: 188px;
          overflow: hidden;
          max-width: 188px;
        }
      }
    }
  }
}
