.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;

  .zoneCountSearchContainer {
    display: grid;
    grid-template-columns: 1fr 140px;
    column-gap: 8px;
    margin-bottom: 12px;

    &.expanded {
      grid-template-columns: 1fr;

      .zonesCountInfo {
        display: none;
      }
    }
  }

  .selectorsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-bottom: 16px;
  }

  .columnDropdown {
    width: 150px;
  }

  .scrollableTable {
    margin: 0 -16px;
    padding: 0 16px;
  }

  .detailedBtn {
    height: 40px;
    font-size: 15px;
    line-height: 19px;
    color: var(--grey-500);

    &:not(:hover) {
      background-color: var(--black-700);
    }

    .btnText {
      margin-right: 8px;
    }
  }
}
