.wrapper {
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.chartControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}
