.container {
  display: flex;
  grid-gap: 2px;
  align-items: center;
  padding: 2px;

  color: var(--grey-600);
  font-size: 14px;
  line-height: 16px;

  background-color: var(--black-600);
  border-radius: 5px;
  cursor: pointer;

  .item {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    padding: 5px 10px;

    border-radius: 5px;

    &:hover {
      color: var(--grey-800);

      background-color: var(--black-900);
    }

    &.active,
    &:global(.active) {
      color: var(--white);

      background-color: var(--grey-100);
    }
  }
}
