.container {
  .title {
    color: var(--white);
    font-size: 24px;
    line-height: 30px;
  }

  .tokenInfoChart {
    min-height: 200px;
    max-height: 300px;
  }

  .tokenInfoContainer {
    display: flex;
    margin-top: 17px;

    .tokenInfoItem {
      display: block;
      padding-right: 32px;
      padding-left: 20px;

      border-left: 1px solid var(--black-900);

      &:first-child {
        padding-left: 0;

        border-left: none;
      }

      &_title {
        display: inline-block;
        margin-bottom: 4px;

        color: var(--grey-500);
        font-size: 15px;
        line-height: 19px;
      }

      &_data {
        display: flex;
        align-items: center;

        font-size: 18px;
        line-height: 23px;

        .infoGroup {
          display: flex;
        }

        .tokenName {
          margin-right: 4px;
          margin-left: 8px;

          color: var(--grey-500);
        }

        .tokenPriceDiff {
          margin-right: 4px;
          margin-left: 8px;
        }

        .period {
          color: var(--grey-500);
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container {
    .tokenInfoContainer {
      flex-direction: column;

      .tokenInfoItem {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0;

        border-top: 1px solid var(--black-900);
        border-left: none;

        &:first-child {
          border: none;
        }

        &_data {
          display: grid;
          flex-direction: column;

          .infoGroup {
            justify-content: flex-end;

            &:first-child {
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}
