.container {
  --search-height: 40px;

  max-width: 620px;
  margin: auto;

  .itemsContainer {
    height: calc(100% - var(--search-height));
  }
}

@media (max-width: 880px) {
  .container {
    max-width: none;
  }
}
