.peerCard {
  display: block;
  margin-bottom: 16px;
  min-height: 160px;

  .title {
    color: var(--grey-500);
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;

    .icon {
      margin: 0 6px;
    }
  }

  .lineChart {
    margin: 8px 0;
  }

  .totalValue {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 8px;
  }

  .valuesContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
}
