@value cell from '../TableCell/TableCell.module.css';
@value shift-tooltip from '../TableCell/TableCell.module.css';

.row {
  cursor: pointer;
}

.row.pinnedRow {
  position: sticky;
  top: 77px;
  box-shadow: 0 1px 2px #c7c7c7;
  z-index: 4;
  width: -moz-available;
}

.row.pinnedRow .cell,
.row:hover .cell {
  background: #f4f4f5;
}

.row.pinnedRow .cell .shift-tooltip {
  top: unset;
  bottom: -8px;
}
