.title {
  color: var(--grey-500);
  font-size: var(--font-secondary-size-lg);
  white-space: nowrap;
}

.totalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .total {
    color: var(--green);
    font-size: var(--font-secondary-size-lg);
    text-align: right;
  }
}

.value {
  margin-top: 4px;

  font-size: var(--font-base-size-lg);
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.zoneInfoContainer {
  display: flex;
  margin-right: 8px;

  .logo {
    margin-right: 12px;
  }
}

.doubleItem {
  .value {
    font-size: var(--font-heading-size-md);
  }
}

.topItem {
  display: flex;
  justify-content: space-between;
}

.withChart {
  display: flex;
}

@media (max-width: 980px) {
  .chart {
    display: none;
  }
}
