.table-container {
  overflow-y: hidden;
  background: #e5e5e5;
  min-height: calc(100vh - 178px);
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.table-container::-webkit-scrollbar {
  background: transparent;
  height: 6px;
}

.table-container::-webkit-scrollbar-thumb {
  height: 6px;
  background: #c6c6c6;
  border-radius: 10px;
}

.empty {
  align-self: center;
}
