@import '../../../../assets/styles/constants.css';

:root {
  --table-borders-color: #e9e9e9;
  --table-gray: #b8b8b8;
}

.table-container::-webkit-scrollbar {
  background: transparent;
  height: 6px;
}

.table-container::-webkit-scrollbar-thumb {
  height: 6px;
  background: #c6c6c6;
  border-radius: 10px;
}

.table {
  border-spacing: 0;
  position: relative;
  max-width: 1000px;
  flex-grow: 1;
  margin-top: 20px;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--table-gray);

  padding: 0 8px 0 7px;
  white-space: nowrap;
  min-height: 26px;

  background: #e5e5e5;
  border-bottom: 1px solid var(--table-borders-color);

  vertical-align: bottom;
}

.header-title {
  color: #000;
  text-align: left;
  padding-top: 7px;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: 0.1s;
  height: 26px;
  position: relative;
  justify-content: flex-end;
}

.header.name .header-container {
  justify-content: flex-start;
}

.ableSortCol.header-container:after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 0;
  left: -5px;
  bottom: 0;
  transition: 0.1s;
  background: #bfbfbf;
}

.ableSortCol.header-container:hover:after {
  height: 2px;
}

.cell {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 220%;
  text-transform: capitalize;
  color: var(--color-regular);

  height: 33px;
  padding: 0 8px 0 7px;
  min-width: 30px;
  text-align: right;
  background: #ffffff;
}

.row {
  cursor: pointer;
}

.row:not(.subrow) .cell {
  border-top: 1px solid #e5e5e5;
}

.row.expanded .cell,
.row.focusedRow .cell,
.row:hover .cell,
.row.subrow:hover .cell {
  background: #f4f4f5;
}

.row.subrow .cell {
  background: #fafafa;
  font-size: 13px;
  line-height: 100%;
}

.cell .cell-container {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.zonesPairContainer {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.zonesPair {
  display: flex;
  justify-content: space-between;
  flex: 1;
  transition: transform 1s ease-in-out;
  transform: translateX(0%);
}

.zonesPair.collapsed {
  transform: translateX(-50%);
}

.zonesPair.collapsed .sourceZoneHeader {
  opacity: 0;
}

.zonesPair .zoneInfoHeader {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  min-width: 150px;
  opacity: 1;
  transition: opacity 1.5s ease;
}

.expandArrow {
  margin-bottom: 4px;
}

.cell .image-container {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  align-self: center;
}

.cell .image-empty {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #e9e9e9;
  margin-left: 4px;
  margin-right: 12px;
}

.cell .text-container {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  position: relative;
  line-height: 25px;
}

.cell .subtext-container {
  color: rgba(128, 128, 128, 0.5);
  font-weight: 600;
  font-size: 12px;
}

.cell .text-container .shift-tooltip {
  position: absolute;
  left: 70%;
  top: -8px;
  background: var(--color-green);
  border-radius: 2px;
  padding: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 5;
}

.focusedRow .text-container .shift-tooltip {
  top: unset;
  bottom: -8px;
}

.cell .text-container .shift-tooltip.negative {
  background: var(--color-red);
}

.cell:hover .text-container .shift-tooltip {
  opacity: 1;
  visibility: visible;
}

.text-container.numeric {
  font-family: var(--font-monospace), monospace;
}

/*1-st col*/
.cell.position {
  width: 16px;
  text-align: center;
  color: #ccc;
}

.header.name,
.cell.name {
  width: 100%;
}

.cell.name .text-container,
.cell.name .subtext-container {
  padding: 0;
  max-width: calc(380px - 35px);
  text-overflow: ellipsis;
  overflow: hidden;
  width: unset;
  display: flex;
  align-items: center;
  text-align: left;
  line-height: initial;
}
/*3-d col*/
/* .header.ibcTransfers,
.cell.ibcTransfers {
  width: 123px;
  min-width: 123px;
  max-width: 123px;
} */
/* 
.header.activeAddresses,
.cell.activeAddresses {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
} */

/*4-th col*/
/* .header.totalTxs,
.cell.totalTxs, */
/*5 col*/
/* .header.ibcPercentage,
.cell.ibcPercentage {
  width: 99px;
  min-width: 99px;
  max-width: 99px;
} */

/*IBC Success col*/
.header.ibcTxSuccess,
.cell.ibcTxSuccess {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
  border-left: 1px solid var(--table-borders-color);
}

.cell.ibcTxPending .text-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ibcTxPending .pendingIcon {
  width: 13px;
  height: 13px;
}

/*IBC Failed col*/
.header.ibcTxFailed,
.cell.ibcTxFailed {
  width: 115px;
  min-width: 115px;
  max-width: 115px;
  border-right: 1px solid var(--table-borders-color);
}

/*8 col*/
/* .header.channels,
.cell.channels {
  min-width: 100px;
} */

/*9 col*/
/* .cell.txsActivity,
.header.txsActivity {
  width: 146px;
} */

/* .header.txsActivity > div {
  width: 131px;
} */

/*sort styles*/
.header.sortedColumn,
.cell.sortedColumn {
  color: var(--color-regular);
  font-weight: bold;
}

.header.sortedColumn .header-container:after {
  background: var(--color-regular);
  height: 2px;
}

.sortArrowWrapper {
  display: block;
  padding-left: 6px;
}

.arrow {
  width: 10px;
  display: block;
  color: var(--table-gray);
}

.header.sortedColumn .arrow {
  color: var(--color-regular);
}

.arrowUp {
  transform: rotate(-180deg);
}

/*header-icons*/
.IBC-circle {
  display: none;
  width: 8px;
  min-width: 8px;
  height: 8px;
  line-height: 17px;
  border-radius: 100%;
  margin-right: 4px;
}

.ibcTxFailed .IBC-circle {
  display: block;
  background: var(--color-red);
}

.ibcTxSuccess .IBC-circle {
  display: block;
  background: var(--color-green);
}

.IBC-circle.hidden {
  opacity: 0;
}

.explanation-icon {
  background: #bfbfbf;
  border-radius: 100%;
  min-width: 11px;
  width: 11px;
  height: 11px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;

  /*font-family: Acumin Pro;*/
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.explanation-icon .explanation-tooltip {
  position: absolute;
  top: 25px;
  left: 5px;
  width: max-content;
  max-width: 260px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 14px 20px 16px 17px;

  font-size: 12px;
  line-height: 115%;
  font-style: normal;
  font-weight: normal;
  color: var(--color-regular);
  white-space: normal;
  text-align: left;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1244;
}

.explanation-icon:hover .explanation-tooltip {
  opacity: 1;
  visibility: visible;
}

/*cell-icons*/
.position-shift {
  font-size: 11px;
  line-height: 100%;
  font-weight: 500;
  color: var(--color-green);
  padding-left: 15px;
  position: relative;
}

.position-shift:after {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 1px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--color-green);
}

.position-shift.negative {
  color: var(--color-red);
}

.position-shift.negative:after {
  border-bottom: 8px solid var(--color-red);
  transform: rotate(180deg);
}

.position-shift.new {
  display: inline-block;
  width: 31px;
  height: 17px;
  background: #6785ef;
  transform: rotate(-13.3deg);
  padding: 0;
  font-weight: bold;
  font-size: 8.6px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  border-radius: 15px / 8px;
  top: -4px;
  margin-left: 7px;
}

.position-shift.new > div {
  transform: rotate(13.3deg);
}

.position-shift.new:after {
  content: none;
}

thead.fixed {
  position: fixed;
  top: 50px;
  z-index: -1;
}

thead.fixed.active {
  z-index: 3;
}

tbody.bodyWithFocus .row {
  transform: translateY(33px);
}

tbody.bodyWithFocus .row.focusedRow {
  transform: unset;
}

.row.focusedRow {
  position: absolute;
  top: 27px;
  box-shadow: 0 1px 2px #c7c7c7;
  z-index: 2;
}

.row.focusedRow > .cell {
  box-shadow: none;
}

tbody.bodyWithFocus.focusFixed .row {
  transform: unset;
}

.row.focusedRow.fixed {
  position: fixed;
  top: 77px;
}

.row.focusedRow:not(.fixed) {
  transform: translateX(0px) !important;
}

.channelIdContainer {
  max-width: 400px;
}

.channelLineContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin: 0 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #d76969;
  border-radius: 50%;
}

.dot.opened,
.line.opened {
  background-color: #5ca97b;
}

.line {
  height: 1px;
  flex-grow: 1;
  background-color: #d76969;
}

.zoneCounterpartyChannelId {
  min-width: 140px;
  text-align: left;
}

.pendingContainer {
  line-height: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  color: #b8b8b8;
}

.pendingIcon {
  margin-right: 3px;
  width: 11px;
  height: 9px;
}

@media (max-width: 1380px) {
  .explanation-icon .explanation-tooltip.centerPos {
    left: 0;
    transform: translateX(-50%);
  }
}

/*
@media (max-width: 1200px) {
  .header.position,
  .cell.position {
    position: sticky;
    left: 0;
    min-width: 40px;
    z-index: 1;
  }

  .header.name,
  .cell.name {
    position: sticky;
    left: 40px;
    box-shadow: 2px 4px 4px rgba(186, 186, 186, 0.47);
    z-index: 1;
    max-width: 230px;
    width: 230px;
    min-width: 230px;
  }

  .header.name {
    box-shadow: 2px 0 4px rgba(186, 186, 186, 0.47);
  }

  .cell.name .text-container {
    max-width: calc(210px - 35px);
  }
}

@media (max-width: 1120px) {
  .shift-tooltip {
    display: none;
  }
}
*/

@media (max-width: 500px) {
  /* .header.name,
  .cell.name {
    max-width: 155px;
    width: 155px;
    min-width: 155px;
  }

  .cell.name .text-container {
    max-width: 155px;
  }
  .position-shift,
  .position-shift.new {
    display: none;
  }
  */

  .table-container {
    min-height: 50vh;
  }
}
