.container {
  display: table-row;

  cursor: pointer;

  td {
    &:first-child {
      min-width: 42px; // TODO: calculate dynamically

      padding-right: 0;

      text-align: center;
      vertical-align: middle;
    }

    &:nth-child(2) {
      left: 42px; // TODO: calculate dynamically

      width: 100%;
      padding-left: 16px;

      vertical-align: middle;
    }

    &:last-child {
      height: 40px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
    }

    .position {
      display: block;

      color: var(--grey-500);
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }

    .zoneName {
      font-size: 15px;
      line-height: 19px;
    }

    .value {
      font-feature-settings: 'tnum' on, 'lnum' on;
    }

    .status {
      margin-left: 4px;
    }
  }

  .zoneBaseInfoContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .logo {
      margin-right: 12px;
    }
  }

  .ratingDiff {
    margin-left: 4px;
  }

  &:hover {
    background-color: var(--black-500);

    &.horizontalScrollable {
      td {
        &:first-child,
        &:nth-child(2) {
          background-color: var(--black-500);
        }
      }
    }
  }
}
