.container {
  cursor: pointer;

  &:hover {
    background-color: var(--black-500);
  }

  .columnContainer {
    padding: 12px 12px 12px 28px;

    white-space: nowrap;
    vertical-align: top;

    &.withBorder {
      border-left: 1px solid var(--black-700);
    }

    &:nth-child(1) {
      padding-right: 0;
      padding-left: 24px;

      text-align: center;
      vertical-align: middle;
    }

    &:nth-child(2) {
      width: 100%;
      padding-left: 16px;

      vertical-align: middle;
    }

    &:last-child {
      height: 40px;
      padding: 10px 24px 10px 0;
    }

    .position {
      display: block;

      color: var(--grey-500);
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }

    .zoneName {
      font-size: 15px;
      line-height: 19px;
    }

    .value {
      font-feature-settings: 'tnum' on, 'lnum' on;
    }

    .status {
      margin-left: 4px;
    }
  }

  .zoneBaseInfoContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .logo {
      margin-right: 12px;
    }
  }

  .ratingDiff {
    margin-left: 4px;
  }
}
