.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  .detailsTitle {
    --logo-size: 60px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 16px;
    margin-bottom: 24px;

    .logoContainer {
      grid-row-start: 1;
      grid-row-end: 3;
      width: var(--logo-size);
      height: var(--logo-size);
      border-radius: 50%;
      background-color: var(--grey-500);

      .logo {
        width: var(--logo-size);
        height: var(--logo-size);
      }
    }

    .closeIcon {
      stroke: var(--black-900);
      cursor: pointer;

      :hover {
        stroke: var(--grey-300);
      }
    }

    .zoneName {
      font-size: 20px;
      line-height: 25px;
    }

    .zoneWebsiteContainer {
      font-size: 13px;
      line-height: 16px;
      color: var(--grey-500);
    }

    .pagesSwitcher {
      grid-column-start: 1;
      grid-column-end: 4;
      margin-top: 20px;
    }
  }
}
