.container {
  display: grid;
  position: relative;
  grid-template-rows: auto auto 1fr auto;
  grid-row: auto;
  height: 100%;

  .detailsTitle {
    display: flex;
    align-items: center;

    .zoneLogo {
      margin-right: 16px;
    }

    .zoneBaseInfo {
      display: flex;
      flex-direction: column;

      .zoneName {
        font-size: 20px;
        line-height: 25px;
      }

      .zoneWebsite {
        font-size: 13px;
        line-height: 16px;
        color: var(--grey-500);
        margin-top: 5px;
      }
    }
  }

  .closeIcon {
    position: absolute;
    right: 0;
    top: 0;
    stroke: var(--black-900);
    cursor: pointer;

    :hover {
      stroke: var(--grey-300);
    }
  }

  .pagesSwitcher {
    margin-top: 20px;
    margin-bottom: 24px;
  }
}
