.container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100%;

  .detailsTitle {
    --logo-size: 60px;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    margin-bottom: 22px;

    .logoContainer {
      grid-row-start: 1;
      grid-row-end: 3;
      width: var(--logo-size);
      height: var(--logo-size);
      border-radius: 50%;
      background-color: var(--grey-500);

      .logo {
        width: var(--logo-size);
        height: var(--logo-size);
      }
    }

    .zoneName {
      font-size: 20px;
      line-height: 25px;
    }

    .zoneWebsiteContainer {
      font-size: 13px;
      line-height: 16px;
      color: var(--grey-500);
    }
  }
}
