.container {
  padding-top: 15px;

  .tooltipWrapper {
    padding: 8px !important;

    color: var(--grey-500);
    font-size: var(--font-secondary-size-md);

    text-align: center;

    background-color: var(--black-400) !important;
    border: 1px solid var(--black-600) !important;
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px #00000080;
    transform: translateX(calc(-50% - 0px));

    .tooltipValue {
      color: var(--white);
    }
  }
}

.dot circle {
  stroke: #1e1c25;
  stroke-opacity: 1;
}
