.externalLink {
  height: 30px;
  display: flex;
  align-items: center;
  background: rgba(64, 74, 100, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 100px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 0 12px;
  margin: 0 4px;
}

.externalLink svg {
  height: 13px;
  margin-right: 4px;
}