.content {
  width: calc(100vw - 40px);
}

.container {
  padding: 10px;
  margin-bottom: 20px;
}

.selectedValueContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}

.selectedValue {
  color: #25a1e8;
}

.applyButton {
  width: 100%;
  height: 50px;
  background-color: #5ca97b;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}
