.container {
  cursor: pointer;

  &:hover {
    background-color: var(--black-500);

    .zoneBaseInfoContainer {
      .logoContainer {
        border: 2px solid var(--black-500);
      }

      .logoContainerSmall {
        border: 0;
      }
    }
  }

  .columnContainer {
    padding: 12px 12px 12px 28px;
    white-space: nowrap;
    vertical-align: top;

    &.withBorder {
      border-left: 1px solid var(--black-700);
    }

    &:first-child {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 450px;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 24px;
    }

    .zoneName {
      font-size: 15px;
      line-height: 19px;
    }

    .value {
      font-feature-settings: 'tnum' on, 'lnum' on;
    }
  }

  .arrowContainer {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .zoneBaseInfoContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .logoContainer {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: var(--grey-500);
      margin-right: 12px;
      position: relative;
      border: 2px solid var(--black-100);
    }

    .logoContainerSmall {
      position: absolute;
      width: 16px;
      height: 16px;
      margin-right: 0;
      margin-left: -12px;
      border: 0;
    }
  }

  .status {
    margin-left: 4px;
  }

  .zoneCounterpartyNameContainer {
    display: flex;
    align-items: center;
  }

  .channelsText {
    margin-top: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--white);
    opacity: 0.5;
  }
}
