.chartLegend {
  margin: 24px 0;
}

.additionalText {
  margin-top: 8px;

  color: var(--grey-500);
  font-size: var(--font-secondary-size-md);
}

@media (max-width: 630px) {
  .cardHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
