.container {
  cursor: pointer;

  td {
    vertical-align: middle;

    &:first-child {
      min-width: 42px; // TODO: calculate dynamically

      padding-right: 0;

      text-align: center;
    }

    &:nth-child(2) {
      left: 42px; // TODO: calculate dynamically

      width: 100%;

      min-width: 260px;
      padding-left: 16px;
    }

    &:nth-last-child(2) {
      padding-right: 0;
    }

    &:last-child {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 6px;
    }

    .code {
      color: var(--grey-500);
      font-size: 13px;
      line-height: 16px;
    }

    .chartContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;

      .code {
        margin-right: 6px;

        font-size: 15px;
        line-height: 19px;
      }
    }

    .position {
      display: block;

      color: var(--grey-500);
      font-size: 15px;
      line-height: 19px;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }

    .value {
      justify-content: flex-end;

      font-size: 15px;
      line-height: 19px;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }
  }

  .assetInfoContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;

    .logo {
      margin-right: 12px;
    }

    .nameContainer {
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      .name {
        font-size: 15px;
        line-height: 19px;
      }
    }
  }

  .ratingDiff {
    margin-left: 4px;
  }

  &:hover {
    background-color: var(--black-500);

    &.scrollable {
      td {
        &:first-child,
        &:nth-child(2) {
          background-color: var(--black-500);
        }
      }
    }
  }
}
