.wrapper {
  display: flex;
  flex-flow: column;
  max-width: 1440px;
  height: 100%;
  margin: auto;

  header {
    flex: 0 1 auto;
  }

  footer {
    flex: 0 1 auto;
  }
}

.body {
  flex: 1 1 auto;
}
