.container {
  position: absolute;
  z-index: 1244;

  width: max-content;
  max-width: 260px;
  padding: 12px;

  color: var(--grey-800);
  font-size: 12px;
  line-height: 15px;
  white-space: normal;
  text-align: left;

  background-color: var(--black-400);
  border: 1px solid var(--black-600);
  border-radius: 4px;
  box-shadow: 0 8px 30px rgb(0 0 0 / 70%);
  visibility: hidden;
  opacity: 0;

  transition: 0.2s;
}
