.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;

  .totalOverview {
    display: grid;
    grid-template-areas:
      'title chart'
      'volume chart'
      'lineChart lineChart'
      'volumeIn volumeOut'
      'volumeInPending volumeOutPending';
    grid-template-columns: 1fr 1fr;
    min-height: 150px;
    margin-bottom: 12px;
    padding: 16px;

    .title {
      grid-area: title;
      margin-bottom: 4px;

      color: var(--grey-500);
      font-size: 13px;
      line-height: 16.3px;
    }

    .volumeValue {
      grid-area: volume;

      font-size: 20px;
      line-height: 25px;
    }

    .volumeLineChart {
      margin-top: 12px;
      margin-bottom: 4px;
    }

    .volumeInValue,
    .volumeOutValue {
      margin-bottom: 2px;

      font-size: 15px;
      line-height: 19px;
    }

    .volumeInPendingValue,
    .volumeOutPendingValue {
      color: var(--grey-500);
      font-size: 12px;
      line-height: 15px;
    }

    .chart {
      grid-area: chart;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  .detailedInfo {
    display: grid;
    grid-template-rows: repeat(4, 63px);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;

    &Item:not(:first-of-type, :nth-of-type(2)) {
      justify-content: center;
      height: 100%;

      border-top: 1px solid var(--black-900);

      .additionalInfo {
        color: var(--grey-500);
      }
    }
  }

  .detailedBtn {
    height: 40px;

    color: var(--grey-500);
    font-size: 15px;
    line-height: 19px;

    &:not(:hover) {
      background-color: var(--black-700);
    }

    .btnText {
      margin-right: 8px;
    }
  }
}
