.volumeInOutContainer {
  font-size: var(--font-base-size-md);
  min-width: 150px;
  flex: 1;

  .volumeLineChart {
    margin-bottom: 12px;
  }

  .volumeInOutValuesContainer {
    display: flex;
    justify-content: space-between;
  }

  .volumeInValue {
    margin-right: 16px;

    font-size: var(--font-base-size-md);
  }

  .volumeOutValue {
    font-size: var(--font-base-size-md);
  }
}

.ibcVolume,
.transactions,
.activeAddresses {
  margin-right: 24px;
}

@media (max-width: 1280px) {
  .valueBlock {
    &:first-child {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 980px) {
  // TODO: move this style
  // &:last-child {
  //   .valueBlock {
  //     margin-bottom: 0;
  //   }
  // }

  .valueBlock {
    flex: 1;
  }

  .volumeGroup {
    flex-direction: column;
    padding-bottom: 24px;

    .ibcVolume {
      margin-bottom: 20px;
    }
  }
}
