.volumeInOutContainer {
  font-size: var(--font-base-size-md);
  min-width: 150px;
  flex: 1;

  .volumeLineChart {
    margin-bottom: 12px;
  }

  .volumeInOutValuesContainer {
    display: flex;
    justify-content: space-between;
  }

  .volumeInValue {
    margin-right: 16px;

    font-size: var(--font-base-size-md);
  }

  .volumeOutValue {
    font-size: var(--font-base-size-md);
  }
}

.ibcVolume,
.transactions,
.activeAddresses {
  margin-right: 24px;
}

@media (max-width: 1280px) {
  .bodyGroup {
    flex-direction: column;

    .valueBlock {
      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 980px) {
  .bodyGroup {
    flex-direction: row;

    &:not(:last-child) {
      border-bottom: 1px solid var(--black-900);
      margin-bottom: 24px;
    }

    &:last-child {
      .valueBlock {
        margin-bottom: 0;
      }
    }

    .valueBlock {
      flex: 1;
    }

    &.volumeGroup {
      flex-direction: column;
      padding-bottom: 24px;

      .ibcVolume {
        margin-bottom: 20px;
      }
    }
  }
}
