.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px 4px;

  color: var(--white);
  font-size: var(--font-secondary-size-md);
  text-align: center;

  background-color: var(--black-600);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.medium {
    font-size: var(--font-base-size-lg);
  }

  .icon {
    display: flex;
    margin-right: 6px;

    fill: var(--grey-800);
    stroke: var(--grey-800);
  }

  &:hover {
    background-color: var(--black-900);

    .icon {
      fill: var(--white);
      stroke: var(--white);
    }
  }

  &:disabled {
    background-color: var(--black-500);

    .icon {
      fill: var(--grey-100);
      stroke: var(--grey-100);
    }
  }
}
