.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px 4px;

  text-align: center;

  background-color: var(--black-600);
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.primary {
    color: var(--white);
  }

  &.secondary {
    color: var(--grey-500);
  }

  &.lg {
    font-size: var(--font-heading-size-sm);
  }

  &.md {
    font-size: var(--font-base-size-md);
  }

  &.sm {
    font-size: var(--font-secondary-size-md);
  }

  .icon {
    display: flex;
    margin-right: 6px;

    fill: var(--grey-800);
    stroke: var(--grey-800);
  }

  &:disabled {
    background-color: var(--black-500);

    .icon {
      fill: var(--grey-100);
      stroke: var(--grey-100);
    }
  }

  &:hover {
    background-color: var(--black-900);

    .icon {
      fill: var(--white);
      stroke: var(--white);
    }

    &.secondary {
      color: var(--grey-800);

      .icon {
        fill: var(--grey-800);
        stroke: var(--grey-800);
      }
    }
  }
}
