.search {
  input {
    height: 40px;
    background-color: var(--black-500);
    cursor: pointer;
    color: var(--white);

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    &::placeholder {
      color: var(--grey-500);

      opacity: 1; /* Firefox */
    }

    /* Microsoft Edge */
    &::input-placeholder {
      color: var(--grey-500);
    }
  }
}

.itemsContainer {
  max-height: 90vh;
}

.searchContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 20px;
}

.dropdownContainer {
  width: 100%;
  position: absolute;
  margin: 8px 0;
  background-color: var(--black-500);
  border-radius: 5px;
}
