.search {
  width: 100%;
  margin: 0 20px;

  input {
    height: 40px;
    background-color: var(--black-500);
    cursor: pointer;
    color: var(--white);

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    &::placeholder {
      color: var(--grey-500);

      opacity: 1; /* Firefox */
    }

    /* Microsoft Edge */
    &::input-placeholder {
      color: var(--grey-500);
    }
  }
}

.itemsContainer {
  height: calc(100% - 40px);
}

.searchContainer {
  position: relative;
  width: 100%;

  margin: 0 auto;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  position: absolute;
  width: 620px;

  margin: 8px auto;
  background-color: var(--black-500);
  border-radius: 5px;
  max-height: 90vh;

  .search {
    margin: 0;
  }
}

// .dropdownContainer {
//   // width: 100%;
//   // position: absolute;

// }
