.container {
  overflow: hidden;
  position: relative;
}

.container.blurred canvas {
  filter: blur(3px);
}

.zoomButtonsContainer {
  position: absolute;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  margin: 13px;
}

.zoomButton {
  width: 50px;
  height: 50px;
  background: rgba(64, 74, 100, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.zonesColorDescriptor {
  position: absolute;
  top: 0;
  right: 0;
  margin: 13px;
}
