.container {
  overflow: hidden;
  position: relative;
  background: url("../../../../assets/images/stars-bg.svg") center/contain;
}
.container.opened {
    background-size: auto;
}

.container.blurred canvas {
  filter: blur(3px);
}

.zoomButtonsContainer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin: 13px;
}

.zoomButton {
  width: 50px;
  height: 50px;
  background: rgba(64, 74, 100, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}
.full-screen-button,
.close-button {
    padding: 0;
    background: none;
    margin: 16px 0 0 0;
}
.close-button {
  position: absolute;
  top: 62px;
  right: 12px;
}

.zonesColorDescriptor {
  position: absolute;
  top: 0;
  right: 0;
  margin: 13px;
}
