.container {
  overflow: hidden;
  position: relative;
  background: url('../../../../assets/images/stars-bg.svg') center/contain
    #130e26;
}

.container.blurred canvas {
  filter: blur(3px);
}

.buttonsContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  margin: 26px 13px 13px 13px;
}

.zoomButtonsContainer {
  right: 0;
}

.shareButtonsContainer {
  left: 0;
}

.roundButton {
  width: 50px;
  height: 50px;
  background: rgba(64, 74, 100, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
  color: #fff;
}

.fullScreenButton {
  padding: 0;
  margin: 16px 0 0 0;
}

.closeButton {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50px;
  right: 12px;
}

.zonesColorDescriptor {
  position: absolute;
  top: 0;
  right: 0;
  margin: 13px;
}

.shareTitle {
  font-weight: 600;
  font-size: 12px;
  color: #808080;
  margin-bottom: 8px;
  text-align: center;
}

.filterButton {
  margin-bottom: 16px;
}

.graphTypeButton {
  margin-top: 16px;
}

.downloadButton {
  font-size: 20px;
  flex-direction: column;
}

.downloadIcon {
  margin-top: -2px;
  width: 24px;
  height: 6px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.zonesFilterContainer {
  position: relative;
}

.dot {
  width: 10px;
  height: 10px;
  background: #d76969;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1;
}
