.legendContainer {
  margin: 24px 0;

  .legendAdditionalText {
    margin-top: 12px;
  }
}

@media (max-width: 630px) {
  .cardHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}
