.overlay {
  z-index: 101;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: none;
}

.content {
  max-height: calc(100vh - 40px);
  text-align: center;
  background: #fff;
  overflow: hidden;
  outline: none;
  animation-duration: 0.6s;
  max-width: calc(100vw - 40px);
  position: fixed;
}

.overlay-none {
  z-index: 101;
  position: fixed;
  background: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-top {
  max-height: calc(100vh - 40px);
  text-align: center;
  background: #fff;
  overflow: hidden;
  outline: none;
  animation-duration: 0.6s;
  max-width: calc(100vw - 40px);
  position: fixed;
}

@keyframes overlayFadeIn {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

@keyframes overlayFadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.75);
  }

  to {
    background-color: transparent;
  }
}
.overlayFadeIn {
  animation-name: overlayFadeIn;
}

.overlayFadeOut {
  animation-name: overlayFadeOut;
}
