@import '../../../../../assets/styles/constants.css';

:root {
    --tooltip-gray: #808080;
}

.key-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    color: var(--tooltip-gray);
}
.item-text {
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    color: var(--color-regular);
}

.node-custom-tooltip {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 160px;

    padding: 0 7px 7px 7px;
    background: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: 0.2s;
    z-index: 1;
}
.node-custom-tooltip.active {
    opacity: 1;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    border-bottom: 2px solid var(--color-regular);
}
.row-tooltip {
    display: flex;
    padding: 5px 0 2px 0;
    border-bottom: 1px solid var(--tooltip-gray);
    margin-bottom: 1px;
}
.row-tooltip:last-child {
    border: none;
}
.row-tooltip .key-text {
    margin-bottom: 2px;
}
.row-tooltip > .col:first-child {
    width: 63px;
}
.item-text.sent-title {
    color: var(--color-red);
    margin-top: 2px;
}
.item-text.received-title {
    font-weight: 500;
    color: var(--color-green);
    margin-top: 2px;
}
