td {
  height: inherit;
  padding: 12px 12px 12px 28px;

  white-space: nowrap;
  vertical-align: top;

  &:first-child {
    padding-left: 24px;
  }

  &:last-child {
    padding-right: 24px;
  }

  &.sticky {
    position: sticky;
    left: 0;

    background-color: var(--black-100);

    &:hover {
      z-index: 4;
    }
  }

  &.withBorder {
    border-right: 1px solid var(--black-700);
  }
}
