.wrapper {
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-height: 450px;

  .chartTypeSwitcher {
    position: absolute;
    top: 0;
    right: 0;
    margin: 24px;
  }
}

@media (max-width: 630px) {
  .wrapper {
    min-height: 600px;
  }
}
