.container {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 85px;
  padding: 16px;

  &_chart {
    position: absolute;
    top: 12px;
    right: 12px;
    bottom: 12px;

    grid-row-start: 1;
    grid-row-end: 4;

    transform: scaleX(50%) translateX(50%);
  }
}
