.container {
  --gap: 28px;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gap);
  padding: 0 24px 24px;

  .header {
    grid-column: 1 / 13;

    margin: 24px 0 8px 0;

    .title {
      font-size: var(--font-heading-size-lg);
      font-weight: 600;
      letter-spacing: -0.02em;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: var(--white);

      margin-bottom: 28px;
    }
  }

  .activityCard {
    grid-column: 1 / 10;
  }

  .interchainCard {
    grid-column: 10 / 13;
  }

  .tokenCard {
    grid-column: 1 / 7;
    min-height: 350px;
  }

  .ibcVolumeCard {
    grid-column: 7 / 13;
  }

  .tokenSupplyCard {
    grid-column: 1 / 5;
  }

  .transactionCard {
    grid-column: 1 / 7;
    min-height: 350px;
  }
}
