@import 'scss/_mixins.scss';

.container {
  --gap: 28px;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--gap);
  padding: 0 24px 24px;

  .header {
    @include gridColumn(1, 1);

    margin: 24px 0 8px 0;

    .title {
      font-size: var(--font-heading-size-lg);
      font-weight: 600;
      letter-spacing: -0.02em;
      font-feature-settings: 'tnum' on, 'lnum' on;
      color: var(--white);

      margin-bottom: 28px;
    }
  }

  .activityCard {
    @include gridColumn(1, 4, 3);
  }

  .interchainCard {
    @include gridColumn(4, 4);
  }

  .tokenCard {
    @include gridColumn(1, 2);
  }

  .ibcVolumeCard {
    @include gridColumn(2, 2);
  }

  .tokenSupplyCard {
    @include gridColumn(1, 3);
  }

  .stakingCard {
    @include gridColumn(2, 3);
  }

  .infrastructureCard {
    @include gridColumn(3, 3);
  }

  .transactionCard {
    @include gridColumn(1, 2);
  }

  .transfersCard {
    @include gridColumn(2, 2);
  }

  .activeAddresses {
    @include gridColumn(1, 2);
  }

  .returnedAddresses {
    @include gridColumn(2, 2);
  }

  .uniqueDelegators {
    @include gridColumn(1, 2);
  }

  .chartCard {
    min-height: 468px;
  }
}

@media (max-width: 1280px) {
  .container {
    .activityCard {
      @include gridColumn(1, 1);
    }

    .interchainCard {
      @include gridColumn(1, 1);
    }
  }
}

@media (max-width: 980px) {
  .container {
    .tokenCard,
    .ibcVolumeCard,
    .transactionCard,
    .transfersCard,
    .activeAddresses,
    .returnedAddresses,
    .uniqueDelegators {
      @include gridColumn(1, 1);
    }
  }
}

@media (max-width: 880px) {
  .container {
    .tokenSupplyCard,
    .stakingCard,
    .infrastructureCard {
      @include gridColumn(1, 1);
    }
  }
}

@media (max-width: 630px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;

    .tokenBlock {
      min-height: 600px;
    }

    .chartCard {
      min-height: 600px;
    }
  }
}
