.container {
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 16px 24px;

    &_title {
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: var(--white);      
    }

    &_subtitle {
      margin-left: 8px;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: var(--grey-500);
    }
  }

  .tableContainer {
    margin-bottom: 8px;

    tbody tr:nth-child(1) td {
      padding-top: 20px;
    }
  }
}
