.container {
  display: grid;
  grid-template-areas:
    'token volumes'
    'parameters parameters'
    'transactions ibcTransfers'
    'activeUsers delegates'
    'delegations .';
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 28px;
  padding: 0 24px 24px;

  .tokenBlock {
    grid-area: token;
  }

  .volumesBlock {
    grid-area: volumes;
    min-height: 447px;
  }

  .parametersBlock {
    grid-area: parameters;
  }

  .transactionsBlock {
    grid-area: transactions;
  }

  .ibcTransfersBlock {
    grid-area: ibcTransfers;
  }

  .activeUsersBlock {
    grid-area: activeUsers;
  }

  .delegatesBlock {
    grid-area: delegates;
  }

  .delegationsBlock {
    grid-area: delegations;
  }
}

@media (max-width: 980px) {
  .container {
    display: grid;
    grid-template-areas:
      'token'
      'volumes'
      'parameters'
      'transactions'
      'ibcTransfers'
      'activeUsers'
      'delegates'
      'delegations';
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

@media (max-width: 630px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;

    .tokenBlock {
      min-height: 600px;
    }
  }
}
