.container {
  position: sticky;
}

.logo {
  width: 116px;
  margin: 13px;
}
.logo-beta {
  width: 28px;
  position: absolute;
  top: 11px;
  left: calc(116px + 13px + 7px);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 13px 13px;
}
.header-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  display: flex;
}
.header-title-image {
  width: 40px;
  height: 40px;
  margin-right: 6px;
}
.header-clickable {
  cursor: pointer;
}
.header-clickable:hover,
.header-clickable:hover > .arrow-down {
  color: var(--color-secondary);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-title-counter {
  color: var(--color-secondary);
}
.stick {
  margin: 0 13px;
}

.arrow-down-button {
  cursor: pointer;
  border: none;
  background: none;
}
.arrow-down {
  width: 16px;
  height: 10px;
  margin: 0 12px;
  color: #ffffff;
}

.roundButton {
  width: 50px;
  height: 50px;
  background: rgba(64, 74, 100, 0.5);
  backdrop-filter: blur(8px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
  color: #fff;
}

.closeButton {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 80px;
  right: 12px;
}

.switch-container {
  position: absolute;
  align-items: center;
  display: flex;
  top: 14px;
  right: 13px;
}

.switch-text {
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  margin-left: 8px;
}

@media (max-width: 500px) {
  .header-container {
    display: block;
  }

  .closeButton {
    top: 40px;
  }
}
