.container {
  position: fixed;
  bottom: 0;
  z-index: 10000;
  background: var(--black-600);
  height: var(--compare-footer-height);
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    max-width: var(--max-page-width);
    width: 100%;
    height: 100%;
    margin: auto;
    padding-left: 24px;
  }

  .defaultTitle {
    margin-left: 8px;
    font-size: var(--font-base-size-md);
  }

  .compareBtn {
    background-color: var(--grey-1100);
    color: var(--black-100);
    font-size: var(--font-navigation-size);
    font-weight: 600;
    padding: 10px 24px;
  }

  .cancelBtn {
    background-color: var(--black-900);
    color: var(--white);
    margin-left: 12px;
    font-size: var(--font-base-size-md);
    padding: 10px 16px;

    svg {
      stroke: var(--white);
    }
  }
}
