.container {
  cursor: pointer;
  position: relative;

  .tooltip {
    left: -25px;
    top: -50px;
  }

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .status {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 10px;
    justify-content: center;
    position: relative;
    width: 10px;

    .icon {
      border-radius: 50%;
      height: 4px;
      width: 4px;
    }

    .iconBackground {
      border-radius: 50%;
      height: 10px;
      opacity: 0.3;
      position: absolute;
      width: 10px;
    }
  }
}
