.chartContainer {
  align-items: center;
  display: flex;

  hr {
    border-top: none;
    height: 1px;
  }

  .notActiveLine {
    border-color: var(--black-900);
    margin: 0 2px;
    width: 100%;
  }

  .volumeOutLine {
    border-color: var(--pink);
    margin-left: 2px;
    margin-right: 2px;
  }

  .volumeInLine {
    border-color: var(--pink);
    margin-right: 2px;
    opacity: 0.5;
  }
}
