.chartContainer {
  display: flex;
  align-items: center;

  hr {
    height: 1px;
    border-top: none;
  }

  .notActiveLine {
    border-color: var(--black-900);
    width: 100%;
    margin: 0 2px;
  }

  .volumeOutLine {
    margin-left: 2px;
    margin-right: 2px;
    border-color: var(--pink);
  }

  .volumeInLine {
    margin-right: 2px;
    border-color: var(--pink);
    opacity: 0.5;
  }
}
