.groupTitle {
  color: var(--grey-300);
  font-size: var(--font-map-size-md);
  text-transform: uppercase;
  margin: 8px 16px;
}

.zone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;

  padding: 9px 16px;

  &:hover {
    background-color: var(--black-700);
  }

  .checkbox {
    margin-right: 16px;
  }

  .content {
    flex: 1;
  }

  &.activeZone {
    pointer-events: none;

    background-color: var(--black-700);
  }
}
