.logo {
  width: 116px;
  position: absolute;
  top: 0;
  margin: 13px;
}
.logo-beta {
  width: 28px;
  position: absolute;
  top: 11px;
  left: calc(116px + 13px + 7px);
}
.error-wrapper {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.error-icon {
  height: 119px;
}
.text-wrapper {
  padding-left: 60px;
  height: 119px;
  margin-top: 10px;
}
.text-wrapper .title {
  font-size: 23px;
  line-height: 29px;
  color: #ffffff;
}
.text-wrapper .subtitle {
  font-size: 15px;
  line-height: 19px;
  color: #8c909f;
  margin-top: 13px;
}
@media (max-width: 450px) {
  .text-wrapper {
    padding-left: 30px;
  }
  .text-wrapper .title {
    font-size: 20px;
    line-height: 26px;
  }
  .text-wrapper .subtitle {
    font-size: 12px;
    line-height: 16px;
  }
}
