hr {
  border-top: none;
  height: 1px;
}

.notActiveLine {
  border-color: var(--black-900);
  margin: 0 2px;
  width: 100%;
}

.leftLine {
  border-color: var(--pink);
  margin-left: 2px;
  margin-right: 2px;
}

.rightLine {
  border-color: var(--pink);
  margin-right: 2px;
  opacity: 0.5;
}
