.title {
  display: block;

  color: var(--grey-500);
  font-size: 13px;
  white-space: nowrap;
}

.total {
  color: var(--green);
  font-size: 13px;
  text-align: right;
}

.value {
  display: block;
  margin-top: 4px;

  font-size: 15px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.pendingValue {
  color: var(--grey-500);
  font-size: 12px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.zonesPairContainer {
  margin-right: 8px;
}

.withAdditionalData {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.doubleItem {
  display: flex;

  .value {
    font-size: 24px;
  }
}

.topItem {
  display: flex;
  justify-content: space-between;

  .pendingValue {
    justify-content: flex-end;
    margin-top: 4px;
  }
}

.withChart {
  display: flex;
}

@media (max-width: 980px) {
  .chart {
    display: none;
  }
}
