.container {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1.8fr 1.8fr;
  margin: 12px 16px;

  .itemContainer {
    max-height: 80px;
    margin: 0 8px;
    padding: 12px 16px;

    background-color: var(--black-400);
    border-radius: 4px;
    box-shadow: 0 8px 15px rgb(0 0 0 / 30%);

    &.withChart {
      display: flex;
    }

    &_title {
      display: block;

      color: var(--grey-500);
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      white-space: nowrap;
    }

    &_value {
      display: block;
      margin-top: 4px;

      font-size: 15px;
      line-height: 19px;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }

    &_pendingValueContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 2px;
    }

    &_pendingValue {
      display: inline-flex;
      align-items: center;

      color: var(--grey-500);
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      font-feature-settings: 'tnum' on, 'lnum' on;
    }

    &_pendingIcon {
      margin-right: 3px;
    }

    &_divider {
      width: 1px;
      height: 100%;
      margin: 0 12px;

      background-color: var(--black-900);
    }

    &_withAdditionalData {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  .doubleItemContainer {
    display: flex;

    &_value {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .topItemContainer {
    display: flex;
    justify-content: space-between;

    &_pendingValueContainer {
      justify-content: flex-end;
      margin-top: 4px;
    }

    &_total {
      color: var(--green);
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-align: right;
    }
  }
}
