.title {
  display: block;

  color: var(--grey-500);
  font-size: 13px;
  line-height: 16px;
  white-space: nowrap;
}

.total {
  color: var(--green);
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.value {
  display: block;
  margin-top: 4px;

  font-size: 15px;
  line-height: 19px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.pendingValue {
  color: var(--grey-500);
  font-size: 12px;
  line-height: 15px;
  font-feature-settings: 'tnum' on, 'lnum' on;
}

.divider {
  width: 1px;
  height: 100%;
  margin: 0 12px;

  background-color: var(--black-900);
}

.withAdditionalData {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.doubleItem {
  display: flex;

  .value {
    font-size: 24px;
    line-height: 30px;
  }
}

.topItem {
  display: flex;
  justify-content: space-between;

  .pendingValue {
    justify-content: flex-end;
    margin-top: 4px;
  }
}

.withChart {
  display: flex;
}
