@import '../../../../assets/styles/constants.css';

:root {
  --table-borders-color: #e9e9e9;
  --table-gray: #b8b8b8;
}

.table-container {
  overflow-x: auto;
  overflow-y: hidden;
  background: #ffffff;
  min-height: calc(100vh - 598px);
}

.table-container::-webkit-scrollbar {
  background: transparent;
  height: 6px;
}

.table-container::-webkit-scrollbar-thumb {
  height: 6px;
  background: #c6c6c6;
  border-radius: 10px;
}

.table {
  border-spacing: 0;
  position: relative;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--table-gray);

  padding: 0 8px 0 7px;
  white-space: nowrap;
  height: 26px;

  background: #ffffff;
  border-bottom: 1px solid var(--table-borders-color);
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: 0.1s;
  height: 26px;
  position: relative;
  justify-content: flex-end;
}

.ableSortCol.header-container:after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 0;
  left: -5px;
  bottom: 0;
  transition: 0.1s;
  background: #bfbfbf;
}

.ableSortCol.header-container:hover:after {
  height: 2px;
}

.header-name {
  min-width: 20px;
}

.cell {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 220%;
  text-transform: capitalize;
  color: var(--color-regular);

  height: 33px;
  padding: 0 8px 0 7px;
  min-width: 30px;
  text-align: right;
  background: #ffffff;
}

.row {
  cursor: pointer;
}

.row.focusedRow .cell,
.row:hover .cell {
  background: #f4f4f5;
}

.cell .cell-container {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.cell-image-container {
  margin-right: -7px;
  justify-content: center;
}

.cell .image-container {
  width: 20px;
  height: 20px;
}

.cell .image-empty {
  background-color: #e9e9e9;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.cell .text-container {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  position: relative;
  line-height: 25px;
}

.cell .text-container .shift-tooltip {
  position: absolute;
  left: 70%;
  top: -8px;
  background: var(--color-green);
  border-radius: 2px;
  padding: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 5;
}

.focusedRow .text-container .shift-tooltip {
  top: unset;
  bottom: -8px;
}

.cell .text-container .shift-tooltip.negative {
  background: var(--color-red);
}

.cell:hover .text-container .shift-tooltip {
  opacity: 1;
  visibility: visible;
}

.text-container.numeric {
  font-family: var(--font-monospace), monospace;
}

.header.zoneLabelUrl {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
}

/*1-st col*/
.header.position {
  color: rgba(128, 128, 128, 0.5);
}

.header.position .header-container {
  justify-content: center;
}

.header.name .header-container {
  justify-content: flex-start;
}

.header.txsActivity .header-container {
  justify-content: flex-start;
}

.cell.zoneLabelUrl {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
}

.cell.position {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.cell.position .text-container {
  color: rgba(114, 114, 114, 0.5);
  padding: 0;
}

.header.position > div,
.header.position,
.cell.position {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  padding: 0;
}

/*2-nd col*/
.header.name {
  color: rgba(114, 114, 114, 0.5);
}

.header.name,
.cell.name {
  width: 100%;
  /* width: 350px; */
  /* max-width: 350px; */
}

.cell.name .text-container {
  padding: 0;
  max-width: calc(380px - 35px);
  text-overflow: ellipsis;
  overflow: hidden;
  width: unset;
}
/*3-d col*/
.header.ibcTransfers,
.cell.ibcTransfers {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}

/*3-d col*/
.header.ibcVolume,
.cell.ibcVolume {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.header.activeAddresses,
.cell.activeAddresses {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.header.ibcActiveAddresses,
.cell.ibcActiveAddresses {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.header.ibcVolumeSent,
.cell.ibcVolumeSent {
  border-left: 1px solid var(--table-borders-color);
  width: 165px;
  min-width: 165px;
  max-width: 165px;
}

.header.ibcVolumeReceived,
.cell.ibcVolumeReceived {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  border-right: 1px solid var(--table-borders-color);
}

/*9 col*/
.cell.txsActivity,
.header.txsActivity {
  width: 146px;
  min-width: 146px;
}

.header.txsActivity > div {
  width: 131px;
}

/*sort styles*/
.header.sortedColumn,
.cell.sortedColumn {
  color: var(--color-regular);
  font-weight: bold;
}

.header.sortedColumn .header-container:after {
  background: var(--color-regular);
  height: 2px;
}

.sortArrowWrapper {
  display: block;
  padding-left: 6px;
}

.arrow {
  width: 10px;
  display: block;
  color: var(--table-gray);
}

.header.sortedColumn .arrow {
  color: var(--color-regular);
}

.arrowUp {
  transform: rotate(-180deg);
}

/*header-icons*/
.IBC-circle {
  display: none;
  width: 8px;
  min-width: 8px;
  height: 8px;
  line-height: 17px;
  border-radius: 100%;
  margin-right: 4px;
}

.IBC-circle.ibcVolumeSent {
  display: block;
  background: var(--color-red);
}

.IBC-circle.ibcVolumeReceived {
  display: block;
  background: var(--color-green);
}

.explanation-icon {
  background: #bfbfbf;
  border-radius: 100%;
  min-width: 11px;
  width: 11px;
  height: 11px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;

  /*font-family: Acumin Pro;*/
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.explanation-icon .explanation-tooltip {
  position: absolute;
  top: 25px;
  left: 5px;
  width: max-content;
  max-width: 260px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 14px 20px 16px 17px;

  font-size: 12px;
  line-height: 115%;
  font-style: normal;
  font-weight: normal;
  color: var(--color-regular);
  white-space: normal;
  text-align: left;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1244;
}

.explanation-icon:hover .explanation-tooltip {
  opacity: 1;
  visibility: visible;
}

/*cell-icons*/
.position-shift {
  font-size: 11px;
  line-height: 100%;
  font-weight: 500;
  color: var(--color-green);
  padding-left: 15px;
  position: relative;
}

.position-shift:after {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 1px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid var(--color-green);
}

.position-shift.negative {
  color: var(--color-red);
}

.position-shift.negative:after {
  border-bottom: 8px solid var(--color-red);
  transform: rotate(180deg);
}

.position-shift.new {
  display: inline-block;
  width: 31px;
  height: 17px;
  background: #6785ef;
  transform: rotate(-13.3deg);
  padding: 0;
  font-weight: bold;
  font-size: 8.6px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  border-radius: 15px / 8px;
  top: -4px;
  margin-left: 7px;
}

.position-shift.new > div {
  transform: rotate(13.3deg);
}

.position-shift.new:after {
  content: none;
}

thead.fixed {
  position: fixed;
  top: 49px;
  z-index: -1;
}

thead.fixed.active {
  z-index: 3;
}

tbody.bodyWithFocus .row {
  transform: translateY(45px);
}

tbody.bodyWithFocus .row.focusedRow {
  transform: unset;
}

.row.focusedRow {
  position: absolute;
  top: 27px;
  box-shadow: 0 1px 2px #c7c7c7;
  z-index: 2;
}

.row.focusedRow > .cell {
  box-shadow: none;
}

tbody.bodyWithFocus.focusFixed .row {
  transform: unset;
}

.row.focusedRow.fixed {
  position: fixed;
  top: 77px;
}

.row.focusedRow:not(.fixed) {
  transform: translateX(0px) !important;
}

.zone-status-container {
  position: relative;
  cursor: pointer;
}

.zone-status-container .zone-status-tooltip {
  position: absolute;
  top: -15px;
  left: -25px;
  width: max-content;
  max-width: 260px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 4px 6px;

  font-size: 12px;
  line-height: 115%;
  font-style: normal;
  font-weight: normal;
  color: var(--color-regular);
  white-space: normal;
  text-align: left;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1244;
}

.zone-status-container:hover .zone-status-tooltip {
  opacity: 1;
  visibility: visible;
}

.fixed-header-container {
  height: 28px;
}

.pendingContainer {
  line-height: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  color: #B8B8B8;
}

.pendingIcon {
  margin-right: 3px;
  width: 11px;
  height: 9px;
}

.cell.ibcActiveAddresses .text-container {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  height: 100%;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.75);
  }

  to {
    background-color: transparent;
  }
}

.zone-status-icon {
  margin-left: 4px;
  margin-right: 4px;

  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.explanation-icon .explanation-tooltip.centerPos {
  left: 0;
  transform: translateX(-50%);
}

/*
@media (max-width: 1200px) {
  .header.position,
  .cell.position {
    position: sticky;
    left: 0;
    min-width: 40px;
    z-index: 1;
  }

  .header.name,
  .cell.name {
    position: sticky;
    left: 40px;
    box-shadow: 2px 4px 4px rgba(186, 186, 186, 0.47);
    z-index: 1;
    max-width: 230px;
    width: 230px;
    min-width: 230px;
  }

  .header.name {
    box-shadow: 2px 0 4px rgba(186, 186, 186, 0.47);
  }

  .cell.name .text-container {
    max-width: calc(210px - 35px);
  }
}

@media (max-width: 1120px) {
  .shift-tooltip {
    display: none;
  }
}

@media (max-width: 500px) {
  .header.name,
  .cell.name {
    max-width: 155px;
    width: 155px;
    min-width: 155px;
  }

  .cell.name .text-container {
    max-width: 155px;
  }
  .position-shift,
  .position-shift.new {
    display: none;
  }
}
*/
