@import '../../../../assets/styles/constants.css';

.table {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  background-color: #fff;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--color-secondary);
  opacity: 0.5;
  text-align: left;
}

.cell {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 220%;
  text-transform: capitalize;
  color: var(--color-regular);
}

.positionCell {
  opacity: 0.2;
}
