.container {
  max-height: 100vh;
  height: 100vh;
  min-width: 450px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.wrapper {
  padding: 18px 0;
  background-color: #fff;
  height: calc(100% - 50px);
}

.content {
  margin: 12px 13px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 13px 18px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.title {
  font-weight: 800;
  font-size: 20px;
  color: #000;
  margin-right: 70px;
}

.closeButton {
  align-items: center;
  justify-content: center;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.line {
  border: 1px solid #e9e9e9;
  margin: 10px 0;
}

.zone-name-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.zone-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: #000000;
}
.curved-line {
  margin-right: 8px;
}

.section-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 6px;
}

.item-container {
  display: flex;
  justify-content: space-between;
}
.item {
  flex: 0.45;
  font-weight: 500;
  font-size: 15px;
  line-height: 180%;
  color: #000000;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    max-width: 100vw;
    min-width: 100vw;
  }

  .closeButton {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f4f4f5;
    backdrop-filter: blur(8px);
    border-radius: 50%;
    margin-bottom: 5px;
    color: #fff;
    top: 4px;
    right: 13px;
  }
}
