.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 24px 16px;

  .titleContainer {
    display: flex;
    align-items: flex-end;

    .title {
      font-size: var(--font-heading-size-sm);

      &.skeleton {
        width: 90px;
        height: 24px;
      }
    }
  }

  .filtersContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(106px, 140px));
    gap: 16px;

    align-items: center;
    height: 32px;

    .search {
      height: 100%;

      border: 1px solid var(--black-700);
      border-radius: 5px;
    }

    &.expanded {
      .dropdown {
        display: none;
      }

      .search {
        width: 452px;
      }
    }
  }
}

@media (max-width: 630px) {
  .header {
    display: block;

    margin: 8px 12px 16px;

    .filtersContainer {
      margin-top: 16px;
    }
  }
}
