.fixed-header-container {
  height: 28px;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: var(--table-gray);

  padding: 0 8px 0 7px;
  white-space: nowrap;
  height: 26px;

  background: #ffffff;
  border-bottom: 1px solid var(--table-borders-color);

  position: sticky;
  top: 50px;
  z-index: 5;
}

.header-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transition: 0.1s;
  height: 26px;
  position: relative;
  justify-content: flex-end;
}

.ableSortCol.header-container:after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 0;
  left: -5px;
  bottom: 0;
  transition: 0.1s;
  background: #bfbfbf;
}

.ableSortCol.header-container:hover:after {
  height: 2px;
}

.header-name {
  min-width: 20px;
}

.header.zoneLabelUrl {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
}

/*1-st col*/
.header.position {
  color: rgba(128, 128, 128, 0.5);
}

.header.position .header-container {
  justify-content: center;
}

.header.name .header-container {
  justify-content: flex-start;
}

.header.txsActivity .header-container {
  justify-content: flex-start;
}

.header.position > div,
.header.position {
  width: 32px;
  min-width: 32px;
  max-width: 32px;
  padding: 0;
}

/*2-nd col*/
.header.name {
  color: rgba(114, 114, 114, 0.5);
}

.header.name {
  width: 100%;
  min-width: 180px;
  max-width: 180px;
}

/*3-d col*/
.header.ibcTransfers {
  width: 130px;
  min-width: 130px;
  max-width: 130px;
}

/*3-d col*/
.header.ibcVolume {
  width: 140px;
  min-width: 140px;
  max-width: 140px;
}

.header.activeAddresses {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.header.ibcActiveAddresses {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
}

.header.ibcVolumeSent {
  width: 165px;
  min-width: 165px;
  max-width: 165px;
}

.header.ibcVolumeReceived {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
}

.header.hasBorderRight {
  border-right: 1px solid var(--table-borders-color);
}

/*9 col*/
.header.txsActivity {
  width: 146px;
  min-width: 146px;
}

.header.txsActivity > div {
  width: 131px;
}

/*sort styles*/
.header.sortedColumn {
  color: var(--color-regular);
  font-weight: bold;
}

.header.sortedColumn .header-container:after {
  background: var(--color-regular);
  height: 2px;
}

.sortArrowWrapper {
  display: block;
  padding-left: 6px;
}

.arrow {
  width: 10px;
  display: block;
  color: var(--table-gray);
}

.header.sortedColumn .arrow {
  color: var(--color-regular);
}

.arrowUp {
  transform: rotate(-180deg);
}

/*header-icons*/
.IBC-circle {
  display: none;
  width: 8px;
  min-width: 8px;
  height: 8px;
  line-height: 17px;
  border-radius: 100%;
  margin-right: 4px;
}

.IBC-circle.ibcVolumeSent {
  display: block;
  background: var(--color-red);
}

.IBC-circle.ibcVolumeReceived {
  display: block;
  background: var(--color-green);
}

.explanation-icon {
  background: #bfbfbf;
  border-radius: 100%;
  min-width: 11px;
  width: 11px;
  height: 11px;
  margin-left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;

  /*font-family: Acumin Pro;*/
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
  position: relative;
  cursor: pointer;
}

.explanation-icon .explanation-tooltip {
  position: absolute;
  width: max-content;
  max-width: 260px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 14px 20px 16px 17px;

  font-size: 12px;
  line-height: 115%;
  font-style: normal;
  font-weight: normal;
  color: var(--color-regular);
  white-space: normal;
  text-align: left;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  z-index: 1244;

  top: 25px;
  left: 0;
  transform: translateX(calc(-100% + 20px));
}

.explanation-icon:hover .explanation-tooltip {
  opacity: 1;
  visibility: visible;
}
