.container {
  position: relative;

  .selector {
    border: 1px solid var(--grey-100);
    border-radius: 50px;
    padding: 8px 16px 8px 8px;
    margin: 1px;

    span {
      font-size: var(--font-heading-size-sm);
    }
  }

  &:hover {
    .selector {
      border: 2px solid var(--orange);
      margin: 0;
    }

    .deleteIcon {
      display: block;
    }
  }

  .deleteIcon {
    display: none;
    position: absolute;
    top: -5px;
    left: -5px;

    width: 24px;
    height: 24px;

    cursor: pointer;

    fill: var(--black-900);
    stroke: var(--white);
    border: 2px solid var(--black-100);
    border-radius: 50%;

    :hover {
      fill: var(--grey-100);
    }
  }
}
