.container {
  background-color: var(--black-400);
  border: 1px solid var(--black-600);
  border-radius: 4px;
  box-shadow: 0 8px 30px rgb(0 0 0 / 70%);
  color: var(--grey-800);
  font-size: 12px;
  line-height: 15px;
  max-width: 260px;
  opacity: 0;
  padding: 12px;
  position: absolute;
  text-align: left;
  transition: 0.2s;
  visibility: hidden;
  white-space: normal;
  width: max-content;
  z-index: 1244;
}
