.container {
  padding: 16px;

  background: #1e1c25;
  border-radius: 5px;

  &.hasBorder {
    border: 1px solid var(--black-900);
  }

  .title {
    font-size: var(--font-heading-size-md);
    font-weight: 600;
    margin-bottom: 24px;
  }
}
