.container {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: grid;
  gap: 8px;

  font-size: var(--font-base-size-md);
}

.itemContainer {
  display: flex;
  align-items: center;

  .titleContainer {
    display: flex;
    align-items: center;
    margin-right: auto;

    .country {
      margin-right: 8px;
    }
  }
}

.value {
  margin-right: 2px;
  text-align: right;
  width: 20px;
}

.progressContainer {
  height: 2px;
  width: 68px;
  background-color: var(--grey-100);
  margin-right: 16px;

  &.wide {
    width: 100%;
    margin: 12px 0 10px;
  }

  .progressContent {
    background-color: var(--green);
    height: 100%;
  }
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.showAllButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--grey-500); 
  margin-top: 4px;
  justify-self: flex-start;

  .arrow {
    margin-left: 8px;
  }

  &:hover {
    color: var(--white);

    .arrow {
      stroke: var(--white);
    }
  }
}

@media (max-width: 1280px) {
  .card {
    min-width: 400px;
  }
}

@media (max-width: 630px) {
  .card {
    min-width: auto;
    margin: 16px;
  }
}
