.container {
  position: relative;
  z-index: 1000;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;

  .backdrop {
    position: absolute;
    z-index: -1;
    padding: inherit;
    left: 0;

    width: 100%;
    height: 100%;

    background: var(--black-100);
    opacity: 0.7;
    backdrop-filter: blur(8px);
  }

  .burgerIcon {
    display: none;
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .tagline {
      color: var(--grey-500);
      font-size: 9px;
    }
  }

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-bottom: 18px;
    padding-top: 9px;

    border-bottom: 1px solid var(--black-900);

    .menu {
      margin-left: 20px;

      a {
        padding: 5px 10px;

        color: var(--grey-500);

        transition: color 0.3s linear;

        &:hover {
          color: var(--grey-800);
        }

        &:global(.active) {
          color: var(--white);

          background-color: var(--black-700);
          border-radius: 5px;
        }
      }
    }

    .marketCapContainer {
      font-size: var(--font-base-size-md);

      .marketCapTitle {
        color: var(--grey-500);
      }

      .marketCapValue {
        color: var(--white);
      }
    }
  }
}

@media (max-width: 880px) {
  .container {
    position: relative;

    display: flex;
    justify-content: space-between;

    cursor: pointer;
    opacity: 1;
    backdrop-filter: none;

    .burgerIcon {
      display: block;
    }

    .headerContent {
      width: auto;

      border: none;

      .menu {
        position: absolute;
        top: -100%;
        left: -100%;

        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding-top: 10px;

        background-color: #0e0e16;

        &.opened {
          top: 62px;
          left: 0;

          width: 100%;
          height: auto;

          a {
            margin: 0 24px;
            padding: 16px 0;

            color: var(--white);

            border-bottom: 1px solid var(--black-900);

            &:hover {
              color: var(--grey-400);
            }

            &:global(.active) {
              color: var(--grey-400);

              background: none;
            }
          }
        }
      }

      .marketCapContainer {
        display: none;
      }

      .line {
        display: none;
      }
    }
  }
}
