@import '../../../../assets/styles/constants.css';

.wrapper {
  position: sticky;
  left: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: 65px;
  background: #212737;
  transition: 0.2s;
  position: relative;
  z-index: 4;
  will-change: transform;
}

.pendingIcon {
  margin-right: 3px;
  width: 12px;
  height: 10px;
}

.pendingContainer {
  display: flex;
  flex-direction: row;
  color: #8c909f;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.activityContainer {
  position: absolute;
  bottom: 0;
  max-height: 70%;
}

.statContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #fff;
  padding: 6px;
  position: relative;
  z-index: 1;
}

.statContainer.row {
  flex-direction: row;
}

.statRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.statContainer.small {
  flex: 1;
}

.statContainer.nested {
  padding: 0;
}

.statNameContainer {
  display: flex;
  justify-content: space-between;
}

.statName {
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
}

.mostActiveZonesPairValue {
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
  color: #61ab8b;
}

.statValue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  margin-right: 8px;
}

.statValue.small {
  font-size: 12px;
  line-height: 12px;
}

.item {
  position: relative;
  flex: 1;
}

.item:not(:last-child) {
  border-right: 2px solid #110a19;
}

.failedValue {
  font-weight: normal;
  color: #8c909f;
  font-size: 12px;
}

.period {
  display: flex;
  align-items: flex-end;
  font-weight: normal;
  color: #8c909f;
  font-size: 12px;
}

.mostActiveZonesPairValueContainer {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.mostActiveZonesPair {
  position: relative;
  height: 31px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zoneNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zoneName {
  font-size: 12px;
  margin-left: 5px;
}

.circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.zonesLink {
  position: absolute;
  height: 9px;
  top: 11px;
  left: 4px;
  border-left: 1px solid #8c909f;
}

.diffTooltip {
  position: absolute;
  left: 20%;
  background: var(--color-green);
  border-radius: 2px;
  padding: 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 999;
}

.diffTooltip.top {
  top: -21px;
}

.diffTooltip.negative {
  background: var(--color-red);
}

.diffContainer {
  position: relative;
}

.diffContainer:hover .diffTooltip {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1100px) {
  .mostActiveZonesPairContainer {
    display: none;
  }
}

@media (max-width: 800px) {
  .ibcTransfersContainer {
    display: none;
  }
}

@media (max-width: 600px) {
  .activeZonesContainer {
    display: none;
  }
}

@media (max-width: 520px) {
  .wrapper {
    overflow: hidden;
    background: #212737;
  }
  .container {
    height: 27px;
    background: transparent;
    display: inline-block;
    white-space: nowrap;
    -moz-animation: marquee 22s linear infinite;
    -webkit-animation: marquee 22s linear infinite;
    animation: marquee 22s linear infinite;
  }
  .statContainer,
  .statContainer.nested {
    padding: 0 6px 0 7px;
    display: flex;
    flex-direction: row;
  }

  .statContainer.nested:first-of-type {
    padding-left: 0;
  }

  .statValue {
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-bottom: 6px;
  }
  .statName {
    line-height: 12px;
  }
  .period {
    margin-left: 5px;
    display: inline;
  }
  .activityContainer {
    display: none;
  }
  .item {
    flex: none;
    position: relative;
    display: inline-block;
    padding: 7px 0;
  }

  .mostActiveZonesPairContainer,
  .biggestVolumePairContainer {
    display: none;
  }

  .item * {
    margin-bottom: 0;
    line-height: 12px;
  }
  .item:not(:last-child) {
    border: none;
  }
  .item:after,
  .statContainer.small:last-of-type:after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #ffffff;
  }
  .statContainer.small:last-of-type {
    display: flex;
    position: relative;
  }
  .statContainer.small:last-of-type:after {
    left: -1px;
    right: unset;
  }
  .item:first-child:after {
    display: none;
  }

  .pendingContainer {
    display: none;
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
