.container {
  display: flex;
  height: 65px;
  background: #212737;
  transition: 0.2s;
  position: relative;
  z-index: 4;
  will-change: transform;
}

.activityContainer {
  position: absolute;
  top: 0;
}

.statContainer {
  color: #fff;
  padding: 8px 14px;
  position: relative;
  z-index: 1;
}

.statContainer.small {
  flex: 1;
}

.statNameContainer {
  display: flex;
  justify-content: space-between;
}

.statName {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 6px;
  white-space: nowrap;
}

.mostActiveZonesPairTxs {
  font-weight: 600;
  font-size: 12px;
  color: #61ab8b;
  white-space: nowrap;
  margin-left: 10px;
}

.statValue {
  font-weight: bold;
  font-size: 22px;
}

.item {
  position: relative;
  flex: 1;
}

.item:not(:last-child) {
  border-right: 2px solid #110a19;
}

.period {
  font-weight: normal;
  color: #8c909f;
}

.statContainerSmall {
  display: flex;
  flex-direction: row;
}

.mostActiveZonesPair {
  position: relative;
}

.zoneNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.zoneName {
  font-size: 12px;
  margin-left: 5px;
}

.circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.zonesLink {
  position: absolute;
  height: 9px;
  top: 11px;
  left: 4px;
  border-left: 1px solid #8c909f;
}

@media (max-width: 1180px) {
  .item:last-child {
    display: none;
  }
  .statContainer.small {
    flex: none;
  }
  .statContainerSmall {
    justify-content: space-between;
  }
  .item:nth-last-child(2) {
    border-right: none;
  }
}
@media (max-width: 750px) {
  .statContainer.small:last-child {
    display: none;
  }
  .period {
    display: none;
  }
}
@media (max-width: 520px) {
  .wrapper {
    overflow: hidden;
    background: #212737;
  }
  .container {
    height: 27px;
    background: transparent;
    display: inline-block;
    white-space: nowrap;
    -moz-animation: marquee 15s linear infinite;
    -webkit-animation: marquee 15s linear infinite;
    animation: marquee 15s linear infinite;
  }
  .statContainer {
    padding: 0 6px 0 7px;
    display: flex;
  }
  .statValue {
    font-size: 14px;
    line-height: 14px;
    margin-left: 5px;
    margin-bottom: 6px;
  }
  .statName {
    line-height: 12px;
  }
  .period {
    margin-left: 5px;
    display: inline;
  }
  .activityContainer {
    display: none;
  }
  .item {
    flex: none;
    position: relative;
    display: inline-block;
    padding: 7px 0;
  }
  .item * {
    margin-bottom: 0;
  }
  .item:not(:last-child) {
    border: none;
  }
  .item:after,
  .statContainer.small:last-child:after {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #ffffff;
  }
  .statContainer.small:last-child {
    display: flex;
    position: relative;
  }
  .statContainer.small:last-child:after {
    left: -1px;
    right: unset;
  }
  .item:first-child:after {
    display: none;
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
