@import '../node_modules/modern-normalize/modern-normalize.css';
@import './assets/styles/constants.css';

body {
  font-family: var(--font-regular), sans-serif;
  color: var(--color-regular);
}

* {
  outline: none;
}
