* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black-100);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: var(--white);
  }
}

.align-right {
  text-align: right;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --pink: #ee11cc;
  --blue: #22aaff;
  --green: #66dd55;
  --orange: #ff9900;
  --red: #ff4455;

  --black-100: #0e0e16;
  --black-400: #1c1c25;
  --black-500: #212129;
  --black-600: #25252e;
  --black-700: #2a2a33;
  --black-900: #33333d;

  --grey-100: #4f4f5a;
  --grey-300: #6f6f78;
  --grey-400: #7f7f87;
  --grey-500: #8f8f96;
  --grey-600: #9f9fa5;
  --grey-800: #bfbfc3;
}
