.container {
  position: sticky;
  top: -450px;
  z-index: 10;
}
.container.cursorPointer {
  cursor: pointer;
}

.logo {
  width: 116px;
  position: absolute;
  top: 0;
  margin: 13px;
}
.logo-beta {
  width: 28px;
  position: absolute;
  top: 11px;
  left: calc(116px + 13px + 7px);
}

.filter {
  position: absolute;
  bottom: 0;
  width: auto;
}

.switch-container {
  position: absolute;
  align-items: center;
  display: flex;
  top: 16px;
  right: 250px;
}

.switch-text {
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  margin-left: 8px;
}

@media (max-width: 540px) {
  .switch-container {
    top: 48px;
    right: 16px;
  }
}
