.container {
  position: sticky;
  top: -450px;
  z-index: 10;
}
.container.cursorPointer {
  cursor: pointer;
}

.logo {
  width: 116px;
  position: absolute;
  top: 0;
  margin: 13px;
}

.filter {
  position: absolute;
  bottom: 0;
  width: auto;
}

