.container {
  position: fixed;
  z-index: 1000;

  max-width: calc(100vw - 48px);
  max-height: 570px;
  margin-top: 12px;

  margin-right: calc(100% - 100vw);
  background-color: transparent;
  overflow: hidden;

  .searchContainer {
    margin: 0 16px;
    padding: 16px 0;

    input {
      height: 32px;
    }
  }

  .zonesNotFoundContainer {
    margin: 24px 0 32px;

    color: var(--grey-300);
    font-size: var(--font-base-size-lg);
    text-align: center;
  }

  .zone {
    cursor: pointer;

    > div {
      padding: 9px 16px;

      &:hover {
        background-color: var(--black-700);
      }
    }

    &.activeZone {
      pointer-events: none;

      > div {
        background-color: var(--black-700);
      }
    }
  }
}
