:root {
  --font-regular: 'Poppins';
  --font-monospace: 'Open Sans';
  --color-regular: #000;
  --color-secondary: #727272;
  --color-background: #000;
  --color-green: #5CA97B;
  --color-red: #D76969;
}
