.zone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;

  padding: 9px 16px;

  &:hover {
    background-color: var(--black-700);
  }

  .content {
    flex: 1;
  }

  &.activeZone {
    pointer-events: none;

    background-color: var(--black-700);
  }
}
