.container {
  display: grid;
  grid-template-areas:
    'title title'
    'volume chart'
    'lineChart lineChart'
    'volumeIn volumeOut'
    'volumeInPending volumeOutPending';
  grid-template-columns: repeat(2, minmax(0, 1fr));
  min-height: 150px;
  padding: 16px;

  .title {
    grid-area: title;
    margin-bottom: 8px;

    color: var(--grey-500);
    font-size: 14px;
    line-height: 16px;
  }

  .volumeValue {
    grid-area: volume;

    font-size: 20px;
    line-height: 25px;
  }

  .volumeLineChart {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .volumeInValue,
  .volumeOutValue {
    margin-bottom: 6px;

    font-size: 14px;
    line-height: 16px;
  }

  .volumeInPendingValue,
  .volumeOutPendingValue {
    color: var(--grey-500);
    font-size: 12px;
    line-height: 14px;
  }

  .chart {
    grid-area: chart;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
