@import '../../../../../../assets/styles/constants.css';

:root {
  --tooltip-gray: #808080;
}

.container {
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
}

.container.active {
  opacity: 1;
}

.wrapper {
  background: #fcfcfc;
  min-width: 150px;
  position: relative;
  left: 15px;
  top: 15px;
}

.content {
  padding: 6px 7px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.zoneImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4px;
}

.zoneImage {
  width: 16px;
  height: 16px;
}

.emptyImage {
  background-color: #72727A;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.channelGradient {
  width: 1px;
  height: 7px;
  background: linear-gradient(180deg, #D76969 0%, #D79C69 24.85%, #E9B880 48.2%, #D2D65A 76.62%, #60AB8B 100%);
}

.zoneNamesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1px 0;
}

.zoneName {
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: var(--color-regular);
}

.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--tooltip-gray);
  margin-right: 10px;
}

.value {
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  color: var(--color-regular);
  margin-bottom: 2px;
}

.pendingContainer {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #B8B8B8;
}

.pendingIcon {
  margin-right: 3px;
  width: 11px;
  height: 9px;
}

.detailsButton {
  width: 100%;
  -webkit-appearance: none;
  text-align: center;
  border-top: 1px solid #e9e9e9;
  padding: 8px 0;
  margin: 0 auto;
  background-color: inherit;
  border-bottom: none;
  border-left: none;
  border-right: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
  cursor: pointer;
}

.detailsButton:hover {
  background-color: #e9e9e9;
}

.body {
  display: flex;
}

.cell {
  min-height: 38px;
}

.valuesColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
