.pageContainer {
  display: grid;
  grid-template-columns: 1fr 376px;
  height: 100%;

  .sidebar {
    display: flex;
    flex-direction: column;
    margin: 4px 16px 4px 0px;

    .blockRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 32px;

      &:first-child {
        margin-bottom: 12px;
      }

      &:nth-child(2) {
        margin-bottom: 16px;
      }
    }

    .zonesInfoTable {
      flex-grow: 1;
    }

    .detailedBtn {
      height: 40px;
      font-size: 15px;
      line-height: 19px;
      color: var(--grey-500);

      &:not(:hover) {
        background-color: var(--black-700);
      }

      .btnText {
        margin-right: 8px;
      }
    }
  }
}
