.container {
  display: flex;
  align-items: flex-end;
  padding: 0 16px 8px;

  color: var(--grey-500);
  font-size: 11px;
  line-height: 12px;

  .shareButtonsBlock {
    display: flex;
    flex: 1;
    flex-direction: row;

    font-size: 12px;

    .shareBtn:first-of-type {
      margin-right: 8px;
    }
  }

  .externalLinksBlock,
  .emailLinkBlock,
  .socialsBlock,
  .notListedBlock {
    padding: 0 8px;

    border-right: 1px solid var(--grey-100);
  }

  .socialsBlock {
    display: flex;
    height: 12px;

    .socialLink {
      margin-left: 12px;
    }
  }

  .notListedBlock {
    padding-right: 0;

    border-right: none;
  }
}
