.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px;
}
.container.right {
  right: 0;
}

.sortContainer {
  font-weight: 800;
  font-size: 30px;
  color: #fff;
}
.sortContainer::first-letter {
  text-transform: uppercase;
}

.sort {
  color: #949494;
}

.closeTableButton {
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  cursor: pointer;
  padding: 3px 1px;
  border: none;
  background-color: inherit;
  display: flex;
}

.arrowTop {
  margin-right: 8px;
}

@media (max-width: 840px) {
  .container:not(.right) {
    display: none;
  }
}
